@import "variable.scss";

/* 页头广告样式 */

.ad- {
    &box {
        width: 1190px;
        margin: 10px auto;
        height: 0;
        overflow: hidden;
        a {
            overflow: hidden;
        }
        img {
            width: 1200px;
            height: 90px;
            margin-left: -5px;
            margin-right: -5px;
        }
    }
}
