@import "base.scss";
.relate-pro-next i,
.relate-pro-prev i,
.icon,
.trip-obtain a.btn i,
.trip-tour-more .trip-tm-next i,
.trip-tour-more .trip-tm-prev i,
.trip-domestic .trip-descri:after,
.relate-pro-img span,
.relate-pro-box-left .icon,
.relate-pro-box-left .sliderBox .sliderBtn,
.trip-domestic .trip-descri h5 i {
    background:url(#{$urlStr}icon.png?v=01) no-repeat;
}

.detail- {
    &unit {
        margin-top: 20px;
        padding: 25px 65px 30px;
        background: #fff;
        &-tit {
            height: 1px;
            margin: 16px 0;
            width: 100%;
            background-color: #eee;
            position: relative;
            z-index: 0;
            h3 {
                width: 100%;
                height: 32px;
                position: absolute;
                width: 100%;
                line-height: 32px;
                margin-top: -16px;
                text-align: center;
            }
            span {
                display: inline-block;
                height: 32px;
                line-height: 32px;
                background-color: #fff;
                padding: 0 25px;
                font-size: 22px;
            }
        }
    }
}

.unit- {
    &relate {}
    &trip {}
}

.relate- {
    &layer {
        background-color: #000;
        position: fixed;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        @include opacity(0.7);
        z-index: 1000;
        display: none;
    }
    &descri {
        padding: 15px 70px;
        line-height: 24px;
        color: #999;
        a {
            color: #60a1f4;
            text-decoration: none;
            &:hover {
                color: #f60;
                text-decoration: underline;
            }
        }
    }
    &pro {
        &-tabs {
            width: 100%;
            text-align: center;
            a {
                display: inline-block;
                font-size: 16px;
                color: #333;
                height: 36px;
                border-bottom: 2px solid transparent;
                line-height: 36px;
                margin: 0 20px;
                &:hover,
                &.crt-at {
                    border-bottom-color: #60a1f4;
                    color: #60a1f4;
                }
            }
        }
        &-conts {
            margin-top: 20px;
        }
        &-box {
            height: 384px;
            width: 816px;
            margin-top: -192px;
            margin-left: -408px;
            background: #fff;
            box-shadow: 0 0 7px #dcdcdc;
            -webkit-box-shadow: 0 0 7px #dcdcdc;
            &-left {
                float: left;
                padding: 30px 20px 30px 30px;
                width: 280px;
                height: 324px;
                border-right: 1px solid #e5e5e5;
                box-shadow: 2px 0 3px #e5e5e5;
                -webkit-box-shadow: 2px 0 3px #e5e5e5;
                .img-box {
                    position: relative;
                    width: 280px;
                    height: 168px;
                    overflow: hidden;
                    ul {
                        position: absolute;
                        width: 100%;
                        height: 100%;
                        li {
                            float: left;
                            width: 280px;
                            height: 168px;
                        }
                    }
                    img {
                        display: block;
                        width: 280px;
                        height: 168px;
                    }
                    .sliderBox {
                        position: absolute;
                        bottom: 0;
                        right: 0;
                        .numBox {
                            position: absolute;
                            bottom: 0;
                            right: 46px;
                            width: 34px;
                            height: 22px;
                            background: #000;
                            opacity: 0.5;
                            filter: alpha(opacity=50);
                        }
                        .num {
                            position: absolute;
                            bottom: 0;
                            right: 46px;
                            width: 34px;
                            height: 22px;
                            color: #fff;
                            line-height: 22px;
                            text-align: center;
                        }
                        .sliderBtn {
                            position: absolute;
                            bottom: 0;
                            width: 22px;
                            height: 22px;
                            cursor: pointer;
                        }
                        .prevBtn {
                            right: 23px;
                            background-position: 0 -250px;
                            &.not {
                                background-position: -117px -235px;
                                cursor: default;
                            }
                        }
                        .nextBtn {
                            right: 0;
                            background-position: -30px -250px;
                            &.not {
                                background-position: -147px -235px;
                                cursor: default;
                            }
                        }
                    }
                }
                .title {
                    margin-top: 18px;
                    line-height: 22px;
                    font-size: 16px;
                }
                .message {
                    overflow: hidden;
                    dl {
                        float: left;
                        margin-top: 11px;
                        width: 140px;
                        line-height: 22px;
                        dt {
                            font-size: 14px;
                            color: #999;
                            .icon {
                                display: inline-block;
                                height: 15px;
                                width: 15px;
                                vertical-align: middle;
                                margin-right: 5px;
                            }
                            .icon_proportion {
                                background-position: -68px -214px;
                            }
                            .icon_personrange {
                                background-position: -91px -214px;
                            }
                            .icon_state {
                                background-position: -114px -214px;
                            }
                            .icon_floor {
                                background-position: -137px -214px;
                            }
                            .icon_clothes {
                                background-position: -68px -235px;
                            }
                            .icon_free {
                                background-position: -91px -235px;
                            }
                        }
                        dd {
                            padding-left: 23px;
                        }
                    }
                }
            }
            &-right {
                float: left;
                padding: 30px 20px;
                width: 445px;
                height: 324px;
                .book {
                    width: 445px;
                    height: 37px;
                    span {
                        font-size: 14px;
                        color: #999;
                        em {
                            font-size: 12px;
                            color: #ff9c01;
                            strong {
                                font-size: 22px;
                                font-weight: bold;
                            }
                        }
                    }
                    a {
                        float: right;
                        width: 50px;
                        height: 24px;
                        line-height: 24px;
                        background-color: #ff9518;
                        color: #fff;
                        text-align: center;
                        -webkit-border-radius: 2px 2px 2px 2px;
                        -moz-border-radius: 2px 2px 2px 2px;
                        -o-border-radius: 2px 2px 2px 2px;
                        -ms-border-radius: 2px 2px 2px 2px;
                        border-radius: 2px 2px 2px 2px;
                    }
                }
                .intro {
                    width: 445px;
                    height: 286px;
                    line-height: 22px;
                    overflow-x: hidden;
                    overflow-y: auto;
                    .introbox {
                        margin-bottom: 10px;
                        h3 {
                            font-size: 14px;
                            font-weight: bold;
                        }
                        p {
                            color: #666;
                        }
                    }
                    &-intro {
                        height: 324px;
                    }
                }
            }
        }
        &-cont {
            width: 100%;
            height: 258px;
            position: relative;
            &.relate-pro-intro {
                .relate-pro-img {
                    height: 185px;
                }
            }
        }
        &-unit {
            float: left;
            width: 1080px;
            height: 258px;
            padding: 10px 0;
            margin: -10px;
            overflow: hidden;
            position: relative;
            ul {
                float: left;
                height: 258px;
                min-width: 1080px;
                position: absolute;
                left: 0;
                top: 0;
            }
            li {
                float: left;
                width: 250px;
                height: 258px;
                margin: 0 10px;
                cursor: pointer;
                &:hover {
                    @include box-shadow (0, 0, 12px, 0.175);
                    border-width: 1px\9;
                    border-style: solid\9;
                    border-color: #eeeeee\9;
                    margin-top: -1px\9;
                    position: relative\9;
                    margin-left: 9px\9;
                    margin-right: 9px\9;
                }
            }
            .package {
                cursor: default;
            }
        }
        &-img {
            float: left;
            width: 250px;
            height: 150px;
            position: relative;
            span {
                position: absolute;
                width: 59px;
                height: 27px;
                line-height: 22px;
                color: #fff;
                background-position: 0 -214px;
                top: 0;
                left: 0;
                text-align: center;
            }
            img {
                float: left;
                width: 100%;
                height: 100%;
            }
        }
        &-tit {
            /* float: left; */
            padding: 6px 10px 0;
            height: 20px;
            overflow: hidden;
            p {
                float: left;
                height: 20px;
                line-height: 20px;
                font-size: 14px;
                color: #333;
            }
            span {
                float: right;
                height: 20px;
                line-height: 20px;
                color: #999;
            }
        }
        &-descri {
            padding: 0 10px;
            line-height: 18px;
            margin-top: 3px;
            color: #999;
            height: 36px;
            @include mutil-ellipsis(2);
        }
        &-price {
            height: 22px;
            padding: 10px 10px 0;
            overflow: hidden;
            span {
                float: left;
                color: #ff9518;
                font-size: 14px;
                height: 22px;
                line-height: 22px;
            }
            i {
                display: inline-block;
                font-style: normal;
                height: 18px;
                width: 18px;
                vertical-align: 1px;
                background-color: #ff9518;
                text-align: center;
                color: #fff;
                line-height: 18px;
                font-size: 12px;
            }
            a {
                float: right;
                height: 22px;
                line-height: 22px;
                padding: 0 10px;
                background-color: #ff9518;
                color: #fff;
                @include border-radius(2px, 2px, 2px, 2px);
                &:hover {
                    color: #fff;
                }
                &.over {
                    background-color: #ccc;
                }
            }
        }
        &-prev,
        &-next {
            height: 32px;
            width: 16px;
            position: absolute;
            display: inline-block;
            background-color: #f1f1f1;
            top: 50%;
            margin-top: -16px;
            right: -31px;
            line-height: 32px;
            text-align: center;
            &:hover {
                background-color: #e0e0e0;
            }
            i {
                content: " ";
                display: inline-block;
                height: 14px;
                width: 10px;
                background-position: -60px -130px;
                vertical-align: -3px;
            }
            &.disabled {
                visibility: hidden;
                display: none;
            }
        }
        &-prev {
            left: -31px;
            i {
                background-position: -30px -130px;
            }
        }
        &-package {
            padding: 0 10px;
            line-height: 18px;
            margin-top: 3px;
            color: #999;
            height: 36px;
            div {
                height: 18px;
            }
            p {
                float: left;
            }
            span {
                float: right;
            }
        }
    }
}

.icon {
    &-plane {
        background-position: -115px 0;
    }
    &-train {
        background-position: -115px -27px;
    }
    &-bus {
        background-position: -115px -57px;
    }
    &-cruise {
        background-position: -115px -89px;
    }
    &-food {
        background-position: 0 -150px;
    }
    &-house {
        background-position: -30px -150px;
    }
    &-flag {
        background-position: -60px -150px;
    }
    &-time {
        background-position: -90px -150px;
    }
}

.trip- {
    &views {
        padding-top: 25px;
        overflow: hidden;
        /* &:after {
            clear: both;
            content: ".";
            display: block;
            height: 0;
            line-height: 0;
            visibility: hidden;
        } */
        &-left {
            float: left;
            width: 463px;
        }
        &-img {
            float: left;
            width: 463px;
            height: 252px;
            img {
                float: left;
                width: 100%;
                height: 100%;
            }
        }
        &-right {
            float: right;
            width: 577px;
        }
        &-content {
            float: left;
            width: 100%;
            margin-top: 20px;
        }
    }
    &vr-list {
        float: left;
        width: 575px;
        height: 250px;
        border: 1px solid #f5f5f5;
    }
    &vr-head {
        width: 100%;
        height: 34px;
        background-color: #f8f8f8;
        border-bottom: 1px solid #ececec;
        li {
            float: left;
            height: 34px;
            line-height: 34px;
            font-size: 14px;
            font-weight: bold;
            text-indent: 20px;
            span {
                font-size: 12px;
                color: #999;
                margin-left: 5px;
                font-weight: normal;
            }
        }
        &-1 {
            width: 140px;
        }
        &-2 {
            width: 171px;
        }
        &-3 {
            width: 124px;
        }
        &-4 {
            width: 140px;
        }
    }
    &vr-cont {
        width: 575px;
        overflow-x: hidden;
        overflow-y: auto;
        height: 215px;
        ul {
            float: left;
            width: 575px;
            // height: 36px;
            line-height: 36px;
            background-color: #fff;
            &.even {
                background-color: #f9f9f9;
            }
        }
        li {
            float: left;
            // height: 36px;
            line-height: 36px;
            padding-left: 20px;
            color: #666;
            overflow: hidden;
            // @include ellipsis;
        }
        //.trip-vr-cont {
        &-1 {
            width: 120px;
        }
        &-2 {
            width: 151px;
        }
        &-3 {
            width: 104px;
        }
        &-4 {
            width: 120px;
        }
        //}
        .icon {
            display: inline-block;
            height: 18px;
            width: 18px;
            vertical-align: middle;
            margin: 0 4px;
        }
    }
    &obtain {
        float: left;
        width: 100%;
        margin-top: 8px;
        height: 24px;
        line-height: 24px;
        a.btn {
            display: inline-block;
            height: 24px;
            line-height: 24px;
            margin-right: 10px;
            color: #666;
            i {
                display: inline-block;
                height: 12px;
                width: 14px;
                vertical-align: -2px;
                margin-right: 5px;
            }
            &-email {
                i {
                    background-position: -115px -130px;
                }
            }
            &-print {
                i {
                    background-position: -90px -130px;
                }
            }
        }
    }
    &state {
        width: 100%;
        float: left;
        margin-top: 8px;
        height: 24px;
        line-height: 24px;
        color: #666;
        span {
            color: #f60;
        }
    }
    &vc-left {
        float: left;
        width: 60px;
        position: relative;
        min-height: 100px;
    }
    &vc-right {
        float: right;
        width: 980px;
    }
    &nav {
        position: absolute;
        top: 0;
        width: 60px;
        max-height: 320px;
        overflow: hidden;
        /* margin-left: -32px;
        text-align: center; */
        a {
            float: left;
            width: 100%;
            margin: 10px 0;
            height: 20px;
            line-height: 20px;
            font-size: 14px;
            color: #666;
            position: relative;
            z-index: 1;
            i {
                display: inline-block;
                content: " ";
                position: absolute;
                width: 3px;
                height: 16px;
                background-color: transparent;
                right: -1px;
                top: 2px;
            }
            &.crt-at,
            &:hover {
                color: #60a1f4;
                i {
                    background-color: #60a1f4;
                }
            }
        }
        span {
            position: absolute;
            right: 0;
            top: 0;
            //top: -15px;
            height: 100%;
            //padding: 15px 0;
            width: 1px;
            z-index: 0;
            @include background-linear-gradient(#e9e9e9, 0.2);
        }
    }
    &every {
        dt {
            height: 34px;
            background-color: #f7f7f7;
            line-height: 34px;
            span {
                display: inline-block;
                height: 34px;
                line-height: 34px;
                font-size: 14px;
                font-weight: bold;
                margin: 0 20px;
            }
            i.icon {
                display: inline-block;
                height: 18px;
                width: 18px;
                margin: 0 6px;
                vertical-align: middle;
            }
        }
        dd {
            padding: 12px 0 20px 95px;
            overflow: hidden;
        }
    }
    &eat {
        height: 30px;
        line-height: 30px;
        font-size: 14px;
        color: #333;
        span {
            margin-right: 30px;
            display: inline-block;
            height: 30px;
            line-height: 30px;
        }
        .icon {
            display: inline-block;
            height: 12px;
            width: 12px;
            vertical-align: 0;
            margin-right: 5px;
        }
    }
    &descri {
        line-height: 26px;
        font-size: 14px;
        color: #666;
    }
    &tour {
        margin-top: 10px;
        font-size: 14px;
        font-weight: bold;
        span {
            font-size: 12px;
            color: #999;
            font-weight: normal;
        }
        .icon {
            display: inline-block;
            height: 14px;
            width: 14px;
            vertical-align: middle;
        }
        &-list {
            border-top: 1px solid #ddd;
            float: left;
            width: 100%;
            margin-top: 10px;
            li {
                border-bottom: 1px solid #ddd;
                padding: 0 10px;
            }
        }
        &-cont {
            font-size: 14px;
            height: 26px;
            margin-top: 8px;
            line-height: 26px;
            font-weight: normal;
            overflow: hidden;
            p {
                float: left;
                width: 568px;
            }
            span {
                float: left;
                width: 260px;
                color: #ff7007;
                font-size: 14px;
                &.has-price {
                    color: #999;
                }
            }
            a {
                float: left;
                color: #60a1f4;
                font-size: 14px;
                text-decoration: none;
                &:hover {
                    color: #ff7007;
                }
            }
        }
        &-descri {
            font-size: 14px;
            height: 26px;
            margin-bottom: 8px;
            line-height: 26px;
            color: #666;
            font-weight: normal;
        }
        &-more {
            padding-bottom: 10px;
            h4 {
                background-color: #f3f8fe;
                height: 34px;
                line-height: 34px;
            }
            .icon {
                margin: 0 5px;
                vertical-align: -3px;
            }
            span {
                color: #333;
                margin: 0 50px 0 20px;
            }
            .trip-tm- {
                &cont {
                    padding: 10px 0;
                }
                &unit {
                    padding: 10px 0;
                }
                &tit {
                    width: 100%;
                    font-size: 14px;
                    color: #333;
                    margin-bottom: 10px;
                }
                &left {
                    float: left;
                    width: 260px;
                    height: 130px;
                    margin-right: 10px;
                    position: relative;
                    overflow: hidden;
                }
                &img {
                    float: left;
                    height: 130px;
                    min-width: 260px;
                    position: absolute;
                    top: 0;
                    left: 0;
                    img {
                        float: left;
                        width: 260px;
                        height: 130px;
                    }
                }
                &btns {
                    position: absolute;
                    width: 46px;
                    height: 22px;
                    right: 0;
                    bottom: 0;
                }
                &prev,
                &next {
                    background-color: #000;
                    float: left;
                    height: 22px;
                    width: 22px;
                    line-height: 22px;
                    text-align: center;
                    @include opacity(0.4);
                    i {
                        content: " ";
                        display: inline-block;
                        height: 12px;
                        width: 6px;
                        background-position: 0 -170px;
                    }
                    &.disabled {
                        visibility: hidden;
                    }
                }
                &next {
                    margin-left: 2px;
                    i {
                        background-position: -15px -170px;
                    }
                }
                &right {
                    h5 {
                        font-size: 14px;
                        color: #333;
                        height: 30px;
                        line-height: 30px;
                        margin-top: 2px;
                    }
                    p {
                        line-height: 25px;
                        color: #999;
                        font-size: 12px;
                        font-weight: normal;
                    }
                }
                &more {
                    color: #666;
                    font-size: 12px;
                    font-weight: normal;
                    height: 20px;
                    line-height: 20px;
                }
            }
        }
    }
    &domestic {
        .trip- {
            &vr-head {
                &-1 {
                    width: 160px;
                }
                &-2 {
                    width: 291px;
                }
                &-3 {
                    width: 124px;
                }
            }
            &vr-cont {
                &-1 {
                    width: 140px;
                }
                &-2 {
                    width: 271px;
                }
                &-3 {
                    width: 104px;
                }
            }
            &eat {
                color: #999;
                padding-left: 20px;
            }
            &every {
                dd {
                    padding-left: 75px;
                }
            }
            &descri {
                position: relative;
                h5 {
                    color: #333;
                    position: relative;
                    height: 24px;
                    line-height: 24px;
                    span {
                        position: absolute;
                        display: inline-block;
                        color: #60a1f4;
                        left: -70px;
                        width: 55px;
                        height: 24px;
                        line-height: 24px;
                    }
                    i {
                        position: absolute;
                        display: inline-block;
                        height: 10px;
                        width: 12px;
                        background-position: -138px -60px;
                        right: -1px;
                        top: 7px;
                    }
                    em {
                        height: 10px;
                        width: 10px;
                        display: inline-block;
                        position: absolute;
                        background-color: #fff;
                        right: 1px;
                        top: 0;
                        height: 7px;
                    }
                }
                p {
                    color: #999;
                    font-size: 12px;
                }
                border-left:1px solid #ddd;
                padding-left: 20px;
                &:after {
                    display: inline-block;
                    position: absolute;
                    content: " ";
                    height: 6px;
                    width: 6px;
                    left: -3px;
                    bottom: 0;
                    background-position: -138px -90px;
                }
                &-img {
                    overflow: hidden;
                    //padding: 10px 0;
                    li {
                        float: left;
                        width: 276px;
                        height: 138px;
                        position: relative;
                        margin: 10px 17px 10px 0;
                    }
                    img {
                        float: left;
                        width: 100%;
                        height: 100%;
                    }
                    span {
                        position: absolute;
                        width: 100%;
                        color: #fff;
                        line-height: 68px;
                        height: 52px;
                        bottom: 0;
                        left: 0;
                        overflow: hidden;
                        text-align: center;
                        background:url(#{$urlStr}trip_bg.png) no-repeat left bottom;
                    }
                }
            }
            &tour {
                padding-left: 20px;
            }
        }
    }
}


/*新增打印功能start*/


/*  抄来自老终页---没时间修改 */

.elem_intr .mian_con .route_elem .mh_tit {
    position: relative;
}

.email_pbt,
.print_link {
    position: absolute;
    bottom: 7px;
    width: 90px;
    height: 15px;
    line-height: 15px;
    font-size: 14px;
    color: #006dae;
    text-align: right;
}

.saveBt,
.cancelBt,
.email_pop li span em,
.email_pop .err_input,
.fail_tips span,
.againBt {
    background: url(http://img1.40017.cn/cn/y/14/p/ep_elebg.png?v=001) no-repeat;
}

.saveBt,
.cancelBt,
.againBt {
    display: inline-block;
    width: 71px;
    height: 27px;
    font-size: 14px;
    line-height: 27px;
    text-align: center;
}

.email_pbt {
    right: 110px;
    text-indent: 19px;
    background-position: 10px 3px;
    cursor: pointer;
}

.print_link {
    right: 10px;
    text-indent: 18px;
    background-position: 16px -14px;
    cursor: pointer;
}

.print_link:hover {
    color: #006dae;
}

.email_pop {
    position: relative;
    padding: 24px 0;
}

.bt_bar {
    position: absolute;
    width: 100%;
    height: 8px;
    background: #fff;
    bottom: 0;
    left: 0;
}

.outBag {
    height: auto !important;
}

.topBag {
    border-bottom: 1px solid #f0f0f0 !important;
    background-color: #f0f0f0 !important;
}

.closeImg {
    margin-top: 3px;
}

.email_pop label {
    display: inline-block;
    width: 98px;
    text-align: right;
    vertical-align: middle;
}

.email_pop input {
    width: 210px;
    height: 24px;
    line-height: 24px \9;
    border: 1px solid #cccccc;
}

.email_pop .err_input {
    border: 1px solid #ff6600;
    background-position: 190px -66px;
}

.email_pop li {
    margin-bottom: 15px;
    position: relative;
}

.bt_box {
    text-align: center;
}

.saveBt,
.againBt {
    background-position: 0 0;
    margin-right: 5px;
    color: #fff;
}

.cancelBt {
    background-position: 0 -27px;
    color: #666;
}

.saveBt:hover,
.cancelBt:hover,
.againBt:hover {
    background-position: -74px 0;
    color: #fff;
}

.againBt {
    margin: 15px 0;
}

.email_pop li span {
    position: absolute;
    padding: 2px 5px;
    background: #fff4d9;
    margin-left: 5px;
    border: 1px solid #ffd5a1;
}

.email_pop li span em {
    position: absolute;
    width: 6px;
    background-position: -74px -30px;
    height: 11px;
    top: 6px;
    left: -6px;
}

.showOther {
    cursor: default;
}

.fail_tips {
    padding-left: 78px;
    position: relative;
    margin: 10px 0 0 50px;
    font-size: 14px;
}

.fail_tips span {
    position: absolute;
    width: 50px;
    height: 50px;
    background-position: -116px -41px;
    left: 12px;
    top: -5px;
}


/*新增打印功能end*/
