.module-box{
    position:relative;
	margin-top: 20px;
	padding:20px;
    height: 460px;
    width: 1150px;
    background: #fff;
}
.blur-img{
    position:absolute;
    top: 20px;
    left: 20px;
    height: 460px;
    width: 1150px;
    overflow: hidden;
    img{
        position: absolute;
        width: 100%;
        height: 460px;
        top: 0;
        filter: progid:DXImageTransform.Microsoft.Blur(PixelRadius=15, MakeShadow=false);
        -webkit-filter: blur(15px);
        filter: blur(15px);
        transform: scale(1.1);
    }
}
.module-con{
    position:relative;
	padding:5px;;
	height: 450px;
    width: 1140px;
    background:#f5f5f5;
    li{    	
    	float:left;
        position:relative;
        padding:5px;
    	height: 440px;
    	width:50px;
    	-webkit-transition: .5s;
  		transition: .5s;
        overflow: hidden;
    	.title{
    		position:absolute;    		
    		width: 50px;
    		height: 440px;
    		background:#60a1f4;
    		-webkit-box-shadow:0 0 10px rgba(50, 5, 61, .5);  
            box-shadow:0 0 10px rgba(50, 5, 61, .5);    
		    border-radius:10px 10px 50px 50px;
    		-webkit-border-radius:10px 10px 50px 50px;           
            cursor:pointer;
            overflow: hidden;
            .text{
                position:absolute;
                top:26px;
                left: 12px;
                width: 26px;
                font:bold 26px/30px "microsoft yahei";
                color: #fff;
                word-break:break-all;
                text-align: center;
                em{
                    display: block;
                    line-height: 10px;
                }
            }
            .step{
                position:absolute;
                bottom: 2px;
                left: 2px;
                width: 47px;
                height: 47px;
                background:#fff;
                border-radius:50%;
                -webkit-border-radius: 50%;
                .num{
                    position:absolute;
                    bottom: 3px;
                    left: 3px;
                    width: 38px;
                    height: 38px;
                    font:bold 26px/38px "microsoft yahei";
                    color: #60a1f5;
                    text-align: center;
                    border:1px solid #64a4f5;
                    border-radius:50%;
                    -webkit-border-radius: 50%;
                }
            }
		    .arrow{
                position:absolute;
                top: 29px;
                right: -14px;
                width: 0;
                height: 0;
                border-top: 14px solid transparent;
                border-left: 14px solid #60a1f5;
                border-bottom: 14px solid transparent;
            }
    	}
    	.img-box{
    		position:absolute;
            top: 5px;
    		left:75px;
    		width:0;
    		height: 440px;
    		background:#60a1f4;
            -webkit-box-shadow:0 0 10px rgba(50, 5, 61, .5);  
            box-shadow:0 0 10px rgba(50, 5, 61, .5);    
            overflow: hidden;
            -webkit-transition: .5s;
            transition: .5s;
            .layer{
                position:absolute;
                left: 0;
                top: 39px;
                width: 534px;
                height: 362px;
                opacity:0.4;
                filter:alpha(opacity=40);
                background:#000;
            }
            .text{
                position:absolute;
                left: 16px;
                top:55px;
                width: 480px;
                font: 16px/24px "microsoft yahei";
                color: #fff;
            }
    		img{
    			display: block;
    			width:880px;
    			height: 440px;
    		}
    	}
    	&.current{
    		width: 950px;
            .title{
                overflow: visible;
                cursor:default;
            }
            .img-box{
                width:880px;
            }
    	}
    }
}