@import "variable";
.recommpro- {
    &box {
        background-color: #fff;
        margin-top: 20px;
        padding: 20px;
        padding-top: 15px;
        overflow: hidden;
    }
    &tit {
        float: left;
        width: 100%;
        height: 24px;
        line-height: 24px;
        h4 {
            font-size: 14px;
            font-weight: bold;
            position: relative;
            span {
                position: absolute;
                height: 14px;
                padding: 0 10px;
                line-height: 14px;
                font-size: 12px;
                font-weight: normal;
                color: #fff;
                background-color: #f60;
                margin-top: -2px;
                margin-left: 2px;
                &:after {
                    content: " ";
                    display: inline-block;
                    position: absolute;
                    width: 0;
                    height: 0;
                    border-top: 5px solid transparent;
                    border-left: 5px solid #f60;
                    border-bottom: 5px solid transparent;
                    left: 0;
                    bottom: -2px;
                }
            }
        }
    }
    &list {
        float: left;
        width: 100%;
        border: 1px solid #eee;
        margin-top: 10px;
        border-bottom: none;
    }
    &inner{
        float: left;
        width:100%;
        overflow:hidden;
        height: 228px;
    }
    &unit {
        float: left;
        width: 100%;
        height: 28px;
        padding: 14px 0;
        border-bottom: 1px solid #eee;
        &:hover {
            background-color: #fff4d9;
        }
        p {
            float: left;
            height: 28px;
            line-height: 28px;
            color: #666;
            @include ellipsis;
            width: 900px;
            text-indent: 20px;
            font-size: 14px;
        }
        span {
            float: left;
            width: 126px;
            height: 28px;
            line-height: 28px;
            color: #999;
            text-indent: 10px;
            @include ellipsis;
            strong {
                color: #f63;
                font-size: 16px;
            }
            i {
                font-style: normal;
                font-size: 20px;
            }
        }
        a {
            float: left;
            height: 26px;
            border: 1px solid #ddd;
            @include border-radius(2px, 2px, 2px, 2px);
            padding: 0 12px;
            line-height: 26px;
            font-size: 14px;
            color: #666;
            background-color: #fff;
            text-decoration: none;
            margin-left: 5px;
            &:hover {
                color: #f60;
            }
        }
    }
    &more-btn {
        float: left;
        width: 100%;
        height: 30px;
        line-height: 30px;
        border-bottom: 1px solid #eee;
        text-align: center;
        color: #999;
        background-color: #edf8ff;
        i {
            display: inline-block;
            height: 6px;
            width: 10px;
            background:url(#{$urlStr}icon.png) no-repeat;
            background-position: -30px -60px;
            vertical-align: middle;
            margin-left: 5px;
        }
        &.open {
            i {
                background-position: -45px -60px;
            }
        }
    }
}
