.review- {
    &pro {
        &-nothing {
            p {
                line-height: 40px;
                padding: 20px;
                text-align: center;
                font-size: 14px;
            }
        }
    }
}

.review-pro .satisfaction_wrap,
.review-pro .right_main {
    font-family: "Microsoft YaHei";
}

.review-pro .rates strong,
.review-pro .scores .s_num .s_text1 {
    font-family: "Arial";
}

.review-pro .tab_intro,
.review-pro .dp_comtent {
    width: 1200px;
    margin: 0 auto;
}

.review-pro .tab_intro {
    height: 45px;
    background: #4c5a65;
}

.review-pro .satisfaction_wrap {
    height: 100px;
    padding-top: 30px;
    background: #fff;
}

.review-pro .rates,
.review-pro .rates_list,
.review-pro .rules,
.review-pro .scores,
.review-pro .scores_litem,
.review-pro .s_list4,
.review-pro .r_position {
    float: left;
}

.review-pro .satisfaction_wrap .rates {
    width: 130px;
    margin: 2px 0 0 0px;
}

.review-pro .rates strong {
    font-size: 46px;
    line-height: 46px;
    color: #f60;
}

.review-pro .rates span {
    display: block;
    padding-left: 10px;
}

.review-pro .satisfaction_wrap .rates_list {
    margin-left: 0px;
    width: 232px;
    border-right: solid 1px #f0f0f0;
}

.review-pro .rates_list span,
.review-pro .rules p a {
    display: inline-block;
}

.review-pro .rates_box {
    margin: 0 8px;
    position: relative;
}

.review-pro .line_dp {
    margin-bottom: 8px;
}

.review-pro .bad_line_dp {
    margin-bottom: 0;
}

.review-pro .rates_box span {
    width: 110px;
    height: 10px;
}

.review-pro .rates_box .pray_bg {
    background: url("http://img1.40017.cn/cn/y/15/p/pic.png") no-repeat center;
    background-position: -6px -11px;
    height: 17px;
    width: 105px;
    position: relative;
}

.review-pro .rates_box .yellow_bg {
    background:url("http://img1.40017.cn/cn/y/15/p/pic.png") no-repeat center;
    background-position: -6px -38px;
    position: absolute;
    height: 17px;
    width: 105px;
    top: 0;
    left: 0;
}
.rates strong em {
  font-size: 18px;
  font-family: microsoft yahei, "微软雅黑";
}
.review-pro .satisfaction_wrap .scores {
    width: 110px;
   padding: 0px 0 0 30px;
}

.review-pro .scores .s_num {
    color: #f60;
    font-size: 18px;
}

.review-pro .scores .s_num .s_text1 {
    font-size: 46px;
    line-height: 46px;
}

.review-pro .scores .s_text2 {
    display: block;
    font-size: 12px;
}

.review-pro .satisfaction_wrap .scores_litem {
    width: 446px;
    padding: 0px 0 0 30px;
    height: 64px;
    margin-top: -4px;
}
.scores_litem .clickTag{
    color:#fff;
    background-color: #f6810d;
}
.satisfaction_wrap .experience{
    width: 470px;
    float: left;
    border-right: solid 1px #f0f0f0;
    position: relative;
    margin-top: -4px;
}
.review-pro .scores_litem .s_list4 {
    // width: 100px;
    // margin-bottom: 10px;
    float: left;
    border: 1px solid #ddd;
    font-size: 12px;
    height: 24px;
    text-align: center;
    padding: 0 10px;
    line-height: 24px;
    margin-right: 10px;
    margin-top: 6px;
    color: #666;
    cursor: pointer;
}

.review-pro .scores_litem .s_list4 span {
    margin-left: 8px;
}

.review-pro .satisfaction_wrap .rules {
    width: 218px;
}

.review-pro .rules p {
    margin: 12px 0 0 28px;
}

.review-pro .rules .dp_link {
    display: inline-block;
    border: 1px solid #ddd;
    margin: 14px 0 0 28px;
    width: 78px;
    height: 26px;
    text-align: center;
    line-height: 28px;
    color: #ff7800;
    border-radius: 2px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
}

.review-pro .rules .dp_link:hover {
    background: #f0f0f0;
}

.review-pro #prizeRules.comm_cut {
    margin: 2px 0 0 -34px;
    width: 321px;
}

.review-pro .comm_cut .dp_present {
    color: #333;
    width: 316px;
}

.review-pro #prizeRules.comm_cut .comm_mian {
    padding-top: 2px;
}

.review-pro #prizeRules .comm_mian .comm_s {
    margin-left: 46px;
}

.review-pro .present_tip {
    color: #666;
    display: inline-block;
    position: relative;
    padding-left: 19px;
    cursor: pointer;
}

.review-pro .present_tip:hover {
    color: #ff7800;
}

.review-pro .present_tip span {
    display: inline-block;
    background: url(http://img1.40017.cn/cn/y/15/p/final_0.4.png) no-repeat;
    background-position: 0 -360px;
    height: 14px;
    width: 14px;
    line-height: 16px;
    position: absolute;
    left: 0;
}

.review-pro .present_tip.tip_top {
    margin-left: 10px;
    position: relative;
}

.review-pro .present_tip.tip_top span {
    margin-top: 3px;
}

.review-pro .rules .dp_link,
.review-pro .rules .present_tip {
    float: left;
}

.review-pro .rules .present_tip {
    margin: 14px 0 0 14px;
    line-height: 28px;
    height: 26px;
    cursor: pointer;
}

.review-pro .dp_present .pre_con {
    margin-left: 16px;
}

.review-pro .rules .present_tip span {
    margin-top: 7px;
}

.review-pro .dp_present .pre_text {
    position: relative;
    padding-left: 16px;
}

.review-pro .pre_text em {
    display: inline-block;
    position: absolute;
    left: 0;
}

.review-pro .dp_present .pre_con p span {
    color: #ff7800;
}

.review-pro .c_details,
.review-pro .pic_show {
    font-size: 14px;
}

.review-pro .author,
.review-pro .right_main,
.review-pro .reward_type,
.review-pro .reward_time {
    float: left;
}

.review-pro .essence_reviews {
    display: block;
    position: absolute;
    top: -9px;
    right: 3px;
    width: 81px;
    height: 42px;
    background: url(http://img1.40017.cn/cn/y/15/p/final_0.5.png?v=06);
    background-position: -303px -397px;
}

.review-pro .c_details p a,
.review-pro .reward_support {
    float: right;
}

.review-pro .right_main a,
.review-pro .rules p a {
    color: #0185c6;
}

.review-pro .right_main a:hover,
.review-pro .rules p a:hover {
    color: #ff7800;
}

.review-pro .reviews {
    /*margin: auto;
    width: 1200px;
    background: #fff;*/
}

.review-pro .dp_tab {
    padding: 0 30px;
    /*width: 1140px;*/
    height: 45px;
    font: 14px/45px "microsoft yahei";
    background: #f7f7f7;
}

.review-pro .dp_tab .lab_sty {
    cursor: pointer;
    float: left;
    margin-left: 20px;
}

.review-pro .dp_tab .lab_sty input {
    float: left;
    margin: 18px 5px 0 0;
    *margin: 18px 0 0 0;
}

.review-pro .review_select {
    float: right;
}

.review-pro .review_select span {
    margin-right: 33px;
    cursor: pointer;
}

.review-pro .review_select span.at {
    color: #0185c6;
    cursor: text;
}

.review-pro .author {
    width: 110px;
    margin: 20px 0 0 20px;
}

.review-pro .author img {
  display: block;
  margin: auto;
  height: 60px;
  overflow: hidden;
  text-align: center;
  width: 60px;
  border-radius: 50% 50%;
}
.review-pro .author span {
  display: block;
  margin: auto;
  height: 22px;
  overflow: hidden;
  text-align: center;
  width: 98px;
  background: url("http://img1.40017.cn/cn/y/16/p/leveIcon.png");
}
.review-pro .author .user_01 {
  background-position: 1px -124px;
}
.review-pro .author .user_02 {
  background-position: 1px -100px;
}
.review-pro .author .user_03 {
  background-position: 1px -64px;
}
.review-pro .author .user_04 {
  background-position: 1px -34px;
}
.review-pro .author .leve4  {
  background-position: 0px 0px;
}
.review-pro .author .leve3  {
  background-position: 94px 0px;
}
.review-pro .author .leve2  {
  background-position: 58px 0px;
}
.review-pro .author .leve1  {
  background-position: 28px 0px;
}
.review-pro .author .lev{
  height: 26px;
  width: 30px;
  position: relative;
  margin-top: -24px;
  left: 20px;
}

.review-pro .author .rev_lev {
    display: block;
    margin: 2px auto;
}

.review-pro .author p {
    text-align: center;
}

.review-pro .right_main {
    margin: 20px 0 0 30px;
    width: 896px;
    color: #666;
}

.review-pro .dp_list {
    background: #fff;
}

.review-pro .review_lists {
    position: relative;
    padding-bottom: 30px;
    border-bottom: solid 1px #e5e5e5;
}

.review-pro .right_main span,
.review-pro .right_main a,
.review-pro .pic_show img {
    display: inline-block;
}

.review-pro .c_details p {
    position: relative;
    line-height: 24px;
}

.review-pro .c_details p span {
    display: block;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.review-pro .c_details p a,
.review-pro .personal_t,
.review-pro .reward_support {
    background: url(http://img1.40017.cn/cn/y/15/p/dp_icon.png) no-repeat;
}

.review-pro .c_details p a {
    position: absolute;
    bottom: -20px;
    right: 0;
    cursor: pointer;
    background-position: -28px 10px;
}

.review-pro .c_details p a.hide {
    background-position: -28px -6px;
}

.review-pro .c_details .checkmore span {
    margin-right: 20px;
}

.review-pro .pic_show {
    margin: 12px 0 0 0;
    line-height: 90px;
    height: 90px;
}

.review-pro .pic_show .pic_box img,
.review-pro .pic_show .pic_right {
    width: 90px;
    height: 90px;
    float: left;
    cursor: pointer;
}

.review-pro .pic_show .pic_right {
    margin-right: 10px;
    background: #f0f0f0;
    text-align: center;
}

.review-pro .pic_show .pic_check {
    background: #f0f0f0;
    text-align: center;
}

.review-pro .c_dates {
    margin: 18px 0 10px 0;
}

.review-pro .reward_type span {
    margin-right: 10px;
    text-align: center;
}

.review-pro .family_t {
    padding: 0 8px;
    color: #f60;
    border: 1px solid #f60;
    border-radius: 2px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
}

.review-pro .personal_t {
    background-position: 0 -56px;
    width: 54px;
    color: #50b400;
}

.review-pro .reward_time {
    color: #999;
}

.review-pro .reward_time i {
    display: inline-block;
    width: 20px;
    height: 20px;
    background: url(http://img1.40017.cn/cn/y/15/p/final_0.5.png?v=06);
}

.review-pro .reward_time i.pc {
    background-position: -215px -195px;
}

.review-pro .reward_time i.app {
    background-position: -212px -172px;
}

.review-pro .reward_support {
    position: absolute;
    bottom: 30px;
    right: 40px;
    background-position: -5px -140px;
    width: 96px;
    height: 29px;
    cursor: pointer;
}

.review-pro .reward_support:hover {
    background-position: -5px -170px;
}

.review-pro .reward_support span {
    margin-left: 36px;
    line-height: 29px;
    width: 60px;
}

.review-pro .reward_support.reward_supported {
    background-position: -5px -199px;
    cursor: text;
}

.review-pro .reward_support.reward_supported span {
    color: #f60;
}

.review-pro .tc_review {
    background: #eff3f7;
    padding: 6px 5px 8px 0;
}

.review-pro .tc_review p {
    margin-left: 72px;
    line-height: 20px;
}

.review-pro .tc_review p span {
    margin-left: -60px;
}

.review-pro .popOutBox {
    width: 960px;
    overflow: hidden;
    font-family: microsoft yahei, "微软雅黑";
}

.review-pro .popCon {
    width: 765px;
}

.review-pro .popBan {
    padding: 20px 0;
    width: 765px;
    overflow: hidden;
    background: #38414c;
    color: #fff;
    font-size: 18px;
}

.review-pro .popName {
    float: left;
    width: 720px;
    text-align: center;
}

.review-pro .popClose {
    float: right;
    background: url(http://img1.40017.cn/cn/y/15/p/sFinal.1.1.png) no-repeat;
    background-position: -223px 0;
    width: 15px;
    height: 15px;
    overflow: hidden;
    margin-right: 20px;
}

.review-pro .popClose:hover {
    background-position: -242px 0;
}

.review-pro .photo-album .popc-con {
    width: 725px;
    overflow: hidden;
    padding: 20px;
    height: 440px;
    background: url("http://img1.40017.cn/cn/comm/images/cn/public/transparent_loading_v2.gif?v=20140417") no-repeat center #f0f0f0;
}

.review-pro .photo-l {
    background: #f0f0f0;
}

.review-pro .photo-r {
    float: right;
    width: 220px;
    height: 525px;
    position: relative;
}

.review-pro .big-photo {
    width: 680px;
    height: 304px;
    text-align: center;
    vertical-align: middle;
    overflow: hidden;
    position: relative;
}

.review-pro .big-photo img {
    margin: auto;
    height: 304px;
    display: block;
}

.review-pro .big-p-num {
    display: inline-block;
    position: absolute;
    right: 0;
    bottom: 0;
    background: #000;
    background: rgba(0, 0, 0, 0.7);
    filter: alpha(opacity=70);
    color: #fff;
    font-size: 18px;
    padding: 0 10px;
    line-height: 24px;
}

.review-pro .pa-box {
    margin-top: 20px;
    width: 726px;
    height: 105px;
    overflow: hidden;
    position: relative;
}

.review-pro .photo-list {
    width: 200%;
    overflow: hidden;
    position: relative;
    transition: all ease 0.2s;
}

.review-pro .photo-list li {
    float: left;
    width: 174px;
    height: 98px;
    overflow: hidden;
    position: relative;
    padding-right: 10px;
    cursor: pointer;
}

.review-pro .photo-list img {
    width: 174px;
    height: 98px;
}

.review-pro .photo-list i {
    display: block;
    width: 174px;
    height: 98px;
    background: #fff;
    background: rgba(255, 255, 255, 0.5);
    filter: alpha(opacity=50);
    position: absolute;
    top: 0;
    left: 0;
    transition: all ease 0.2s;
    font-family: helvatica;
}

.review-pro .photo-at i {
    opacity: 0;
    filter: alpha(opacity=0);
}

.review-pro .pa-l,
.review-pro .pa-r {
    display: block;
    position: absolute;
    top: 28px;
    width: 26px;
    height: 50px;
    background: url(http://img1.40017.cn/cn/y/15/p/sFinal.1.1.png) no-repeat;
}

.review-pro .pa-l {
    background-position: 0 -272px;
    left: 20px;
}

.review-pro .pa-r {
    background-position: -63px -272px;
    right: 20px;
}

.review-pro .pa-l:hover,
.review-pro .pa-l-at {
    background-position: -31px -272px;
}

.review-pro .pa-r:hover,
.review-pro .pa-r-at {
    background-position: -96px -272px;
}

.review-pro .photo-infor {
    background: #fff;
    padding: 20px 20px 10px;
    height: 370px;
    overflow: hidden;
}

.review-pro .photo-infor p {
    padding-bottom: 10px;
    overflow: hidden;
}

.review-pro .photo-i-name {
    color: #999999;
    padding-bottom: 10px;
}

.review-pro .colo666 {
    color: #666666;
}

.review-pro .photo-ask {
    position: absolute;
    bottom: 0;
    right: 0;
    color: #999999;
}


/*分页*/

.business_style_page {
    height: 107px;
}

.bag_page {
    margin: 20px 20px 0 0;
    float: right;
}


/*图片弹窗 start*/

.popOutBox {
    width: 960px;
    overflow: hidden;
    font-family: "microsoft yahei";
}

.popCon {
    width: 765px;
}

.popBan {
    padding: 20px 0;
    width: 765px;
    overflow: hidden;
    background: #38414c;
    color: #fff;
    font-size: 18px;
}

.popName {
    float: left;
    width: 720px;
    text-align: center;
}

.popClose {
    float: right;
    background: url(http://img1.40017.cn/cn/y/15/p/sFinal.1.1.png) no-repeat;
    background-position: -223px 0;
    width: 15px;
    height: 15px;
    overflow: hidden;
    margin-right: 20px;
}

.popClose:hover {
    background-position: -242px 0;
}

.photo-album .popc-con {
    width: 725px;
    overflow: hidden;
    padding: 20px;
    height: 440px;
    background: url("http://img1.40017.cn/cn/comm/images/cn/public/transparent_loading_v2.gif?v=20140417") no-repeat center #f0f0f0;
}

.photo-l {
    background: #f0f0f0;
}

.photo-r {
    float: right;
    width: 220px;
    height: 525px;
    position: relative;
}

.big-photo {
    width: 680px;
    height: 304px;
    text-align: center;
    vertical-align: middle;
    overflow: hidden;
    position: relative;
}

.big-photo img {
    margin: auto;
    height: 304px;
    display: block;
}

.big-p-num {
    display: inline-block;
    position: absolute;
    right: 0;
    bottom: 0;
    background: #000;
    background: rgba(0, 0, 0, 0.7);
    filter: alpha(opacity=70);
    color: #fff;
    font-size: 18px;
    padding: 0 10px;
    line-height: 24px;
}

.pa-box {
    margin-top: 20px;
    width: 726px;
    height: 105px;
    overflow: hidden;
    position: relative;
}

.photo-list {
    width: 200%;
    overflow: hidden;
    position: relative;
    transition: all ease 0.2s;
}

.photo-list li {
    float: left;
    width: 174px;
    height: 98px;
    overflow: hidden;
    position: relative;
    padding-right: 10px;
    cursor: pointer;
}

.photo-list img {
    width: 174px;
    height: 98px;
}

.photo-list i {
    display: block;
    width: 174px;
    height: 98px;
    background: #fff;
    background: rgba(255, 255, 255, 0.5);
    filter: alpha(opacity=50);
    position: absolute;
    top: 0;
    left: 0;
    transition: all ease 0.2s;
    font-family: helvatica;
}

.photo-at i {
    opacity: 0;
    filter: alpha(opacity=0);
}

.pa-l,
.pa-r {
    display: block;
    position: absolute;
    top: 28px;
    width: 26px;
    height: 50px;
    background: url(http://img1.40017.cn/cn/y/15/p/sFinal.1.1.png) no-repeat;
}

.pa-l {
    background-position: 0 -272px;
    left: 20px;
}

.pa-r {
    background-position: -63px -272px;
    right: 20px;
}

.pa-l:hover,
.pa-l-at {
    background-position: -31px -272px;
}

.pa-r:hover,
.pa-r-at {
    background-position: -96px -272px;
}

.photo-infor {
    background: #fff;
    padding: 20px 20px 10px;
    height: 370px;
    overflow: hidden;
}

.photo-infor p {
    padding-bottom: 10px;
    overflow: hidden;
}

.photo-i-name {
    color: #999999;
    padding-bottom: 10px;
}

.colo666 {
    color: #666666;
}

.photo-ask {
    position: absolute;
    bottom: 0;
    right: 0;
    color: #999999;
}

.comment_box .travels_more {
    position: absolute;
    left: 495px;
    bottom: -40px;
    width: 180px;
    height: 40px;
    font: bold 14px/34px "microsoft yahei";
    color: #fff;
    text-align: center;
    background: url(http://img1.40017.cn/cn/y/16/cd/moremessage.png);
    z-index: 2;
}

.comment_box .travels_more:hover {
    background: url(http://img1.40017.cn/cn/y/16/cd/moremessageh.png);
}


/*点评end*/

.comm_cut {
    position: absolute;
    padding: 5px;
    max-width: 355px;
    background-color: #fff;
    -webkit-box-shadow: #b6b6b6 0px 0px 10px;
    -moz-box-shadow: #b6b6b6 0px 0px 10px;
    box-shadow: #b6b6b6 0px 0px 10px;
    font-family: "microsoft yahei";
    z-index: 10001;
    border: 1px solid #b6b6b6;
}

.comm_cut .comm_mian {
    background-color: #fff;
    padding: 5px;
    position: relative;
    line-height: 22px;
}

.comm_cut .comm_mian .comm_s {
    position: absolute;
    top: -14px;
    left: 20px;
    background: url('http://img1.40017.cn/cn/y/15/p/final.png') no-repeat -183px 0;
    width: 17px;
    height: 9px;
}

.comm_cut .comm_mian .comm_sr {
    position: absolute;
    top: -14px;
    right: 10px;
    background: url('http://img1.40017.cn/cn/y/15/p/final.png') no-repeat -183px 0;
    width: 17px;
    height: 9px;
}

.comm_cut b {
    font-weight: bold;
}

.dp_present .pre_con p span {
    color: #ff7800;
}

.dp_present .pre_text {
    position: relative;
    padding-left: 16px;
}

.pre_text em {
    display: inline-block;
    position: absolute;
    left: 0;
}

.dp_present .pre_con {
    margin-left: 16px;
}
