<footer class="footer">
    <div class="container">
        <div class="footer-holder">
            <div class="footer-intro">
                <strong class="footer-logo">
                    <a href="/" title="DDN: Data Storage & Management Solutions">
                        <img
                            src="../../assets/svg/common/main-logo-white.svg"
                            alt="DDN"
                            width="117"
                            height="42"
                            data-no-lazy="1"
                            loading="lazy"
                            fetchpriority="low"
                        />
                    </a>
                </strong>
                <p>DDN是数据智能领域的全球知名厂商，致力于以先进的创新技术与深厚的专业能力，加速各类企业的AI发展。</p>
                <ul class="social-list">
                    <li>
                        <a href="https://linkedin.com/company/ddn" target="_blank" rel="nofollow" title="DDN at LinkedIn">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                                <path
                                    d="M21.0062 2H2.86956C2.37267 2 2 2.375 2 2.875V21.25C2 21.625 2.37267 22 2.86956 22H21.1304C21.6273 22 22 21.625 22 21.125V2.875C21.8758 2.375 21.5031 2 21.0062 2ZM7.83851 19H4.98137V9.5H7.96273V19H7.83851ZM6.47205 8.25C5.47826 8.25 4.73292 7.375 4.73292 6.5C4.73292 5.5 5.47826 4.75 6.47205 4.75C7.46584 4.75 8.21118 5.5 8.21118 6.5C8.08696 7.375 7.34161 8.25 6.47205 8.25ZM18.8944 19H15.913V14.375C15.913 13.25 15.913 11.875 14.4224 11.875C12.9317 11.875 12.6832 13.125 12.6832 14.375V19.125H9.70186V9.5H12.559V10.75C12.9317 10 13.9255 9.25 15.2919 9.25C18.2733 9.25 18.7702 11.25 18.7702 13.75V19H18.8944Z"
                                    fill="white"
                                ></path>
                            </svg>
                        </a>
                    </li>
                    <li>
                        <a href="https://x.com/DDNintelligence" target="_blank" rel="nofollow" title="DDN at X">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                                <path
                                    d="M17.6074 2.90039H20.5975L14.065 10.6097L21.75 21.1004H15.7327L11.0197 14.7379L5.627 21.1004H2.63506L9.62227 12.8544L2.25 2.90039H8.42007L12.6802 8.71599L17.6074 2.90039ZM16.558 19.2524H18.2148L7.51978 4.65132H5.7418L16.558 19.2524Z"
                                    fill="white"
                                ></path>
                            </svg>
                        </a>
                    </li>
                    <li>
                        <a href="https://www.youtube.com/@DDNintelligence" target="_blank" rel="nofollow" title="DDN at YouTube">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                                <path
                                    fill-rule="evenodd"
                                    clip-rule="evenodd"
                                    d="M0.293539 6.88176C0.0946097 8.08809 -0.00382375 10.0406 0.00011359 12.0001C-0.00363626 13.9594 0.0947972 15.912 0.293539 17.1183C0.649587 19.2795 2.15121 20.121 4.26238 20.217C5.91269 20.292 8.95494 20.3291 12 20.328C15.0451 20.3291 18.0873 20.292 19.7376 20.217C21.849 20.121 23.3506 19.2795 23.7065 17.1183C23.9054 15.912 24.0038 13.9594 23.9999 11.9999C24.0036 10.0404 23.9054 8.0879 23.7065 6.88157C23.3504 4.72016 21.8488 3.87888 19.7376 3.78289C18.0873 3.70789 15.0451 3.67095 12 3.67189C8.95494 3.67095 5.91269 3.70789 4.26238 3.78289C2.15121 3.87888 0.649587 4.72035 0.293539 6.88176ZM10.4756 15.747L16.3387 12.3621H16.3385C16.4009 12.3264 16.4551 12.2743 16.4936 12.2076C16.6083 12.0079 16.5395 11.7529 16.3398 11.6381L10.4884 8.26009C10.4244 8.22035 10.3489 8.19728 10.2681 8.19728C10.0376 8.19728 9.85071 8.38421 9.85071 8.61464V15.3856C9.85071 15.4561 9.86852 15.5277 9.90621 15.5933C10.021 15.7928 10.2759 15.8618 10.4756 15.747Z"
                                    fill="white"
                                ></path>
                            </svg>
                        </a>
                    </li>
                    <li>
                        <a href="https://www.reddit.com/u/DDNintelligence" target="_blank" rel="nofollow" title="DDN at Reddit">
                            <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="100" height="100" viewBox="0,0,256,256">
                                <g
                                    fill="#ffffff"
                                    fill-rule="nonzero"
                                    stroke="none"
                                    stroke-width="1"
                                    stroke-linecap="butt"
                                    stroke-linejoin="miter"
                                    stroke-miterlimit="10"
                                    stroke-dasharray=""
                                    stroke-dashoffset="0"
                                    font-family="none"
                                    font-weight="none"
                                    font-size="none"
                                    text-anchor="none"
                                    style="mix-blend-mode: normal"
                                >
                                    <g transform="scale(8.53333,8.53333)">
                                        <path
                                            d="M17.66211,2c-2.0971,0 -3.66211,1.71314 -3.66211,3.66211v3.37305c-2.75029,0.14594 -5.26551,0.87921 -7.27344,2.0293c-0.77378,-0.74305 -1.80988,-1.07301 -2.81445,-1.07227c-1.08919,0.0008 -2.20266,0.37823 -2.9707,1.24219l-0.01758,0.01953l-0.01758,0.01953c-0.73677,0.92079 -1.02851,2.15431 -0.83203,3.37891c0.17943,1.11837 0.82715,2.24108 1.95313,2.97656c-0.00737,0.12415 -0.02734,0.24571 -0.02734,0.37109c0,4.962 5.832,9 13,9c7.168,0 13,-4.038 13,-9c0,-0.12538 -0.01997,-0.24694 -0.02734,-0.37109c1.12597,-0.73549 1.77369,-1.8582 1.95313,-2.97656c0.19647,-1.2246 -0.09526,-2.45812 -0.83203,-3.37891l-0.01758,-0.01953l-0.01758,-0.01953c-0.76815,-0.86408 -1.88143,-1.24139 -2.9707,-1.24219c-1.00466,-0.00074 -2.0409,0.32895 -2.81445,1.07227c-2.00793,-1.15009 -4.52315,-1.88336 -7.27344,-2.0293v-3.37305c0,-0.97903 0.56521,-1.66211 1.66211,-1.66211c0.52069,0 1.15499,0.2609 2.14844,0.60938c0.83981,0.29458 1.93276,0.59232 3.33008,0.68164c0.33425,0.98807 1.26219,1.70898 2.35938,1.70898c1.375,0 2.5,-1.125 2.5,-2.5c0,-1.375 -1.125,-2.5 -2.5,-2.5c-0.93879,0 -1.75246,0.53042 -2.17969,1.30078c-1.19448,-0.06615 -2.07207,-0.30607 -2.84766,-0.57812c-0.90381,-0.31703 -1.73423,-0.72266 -2.81055,-0.72266zM3.91211,11.99219c0.39514,-0.00029 0.77056,0.10341 1.08008,0.27148c-1.10399,0.9215 -1.94162,1.99815 -2.44727,3.17383c-0.26849,-0.33141 -0.43027,-0.7035 -0.49414,-1.10156c-0.10777,-0.67169 0.09324,-1.36989 0.41211,-1.7832c0.30133,-0.32434 0.85157,-0.56011 1.44922,-0.56055zM26.08594,11.99219c0.59782,0.00044 1.14994,0.2363 1.45117,0.56055c0.31887,0.41331 0.51988,1.11151 0.41211,1.7832c-0.06387,0.39806 -0.22565,0.77015 -0.49414,1.10156c-0.50565,-1.17568 -1.34327,-2.25233 -2.44727,-3.17383c0.30881,-0.16788 0.68314,-0.27178 1.07813,-0.27148zM10,14c1.105,0 2,0.895 2,2c0,1.105 -0.895,2 -2,2c-1.105,0 -2,-0.895 -2,-2c0,-1.105 0.895,-2 2,-2zM20,14c1.105,0 2,0.895 2,2c0,1.105 -0.895,2 -2,2c-1.105,0 -2,-0.895 -2,-2c0,-1.105 0.895,-2 2,-2zM20.23828,19.5332c-0.639,1.867 -2.68228,3.4668 -5.23828,3.4668c-2.556,0 -4.59928,-1.59903 -5.23828,-3.33203c1.15,0.933 3.06628,1.59961 5.23828,1.59961c2.172,0 4.08828,-0.66737 5.23828,-1.73437z"
                                        ></path>
                                    </g>
                                </g>
                            </svg>
                        </a>
                    </li>
                    <li>
                        <a href="https://instagram.com/DDNintelligence" target="_blank" rel="nofollow" title="DDN at Instagram">
                            <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="100" height="100" viewBox="0,0,256,256">
                                <g
                                    fill="#ffffff"
                                    fill-rule="nonzero"
                                    stroke="none"
                                    stroke-width="1"
                                    stroke-linecap="butt"
                                    stroke-linejoin="miter"
                                    stroke-miterlimit="10"
                                    stroke-dasharray=""
                                    stroke-dashoffset="0"
                                    font-family="none"
                                    font-weight="none"
                                    font-size="none"
                                    text-anchor="none"
                                    style="mix-blend-mode: normal"
                                >
                                    <g transform="scale(5.12,5.12)">
                                        <path
                                            d="M16,3c-7.17,0 -13,5.83 -13,13v18c0,7.17 5.83,13 13,13h18c7.17,0 13,-5.83 13,-13v-18c0,-7.17 -5.83,-13 -13,-13zM37,11c1.1,0 2,0.9 2,2c0,1.1 -0.9,2 -2,2c-1.1,0 -2,-0.9 -2,-2c0,-1.1 0.9,-2 2,-2zM25,14c6.07,0 11,4.93 11,11c0,6.07 -4.93,11 -11,11c-6.07,0 -11,-4.93 -11,-11c0,-6.07 4.93,-11 11,-11zM25,16c-4.96,0 -9,4.04 -9,9c0,4.96 4.04,9 9,9c4.96,0 9,-4.04 9,-9c0,-4.96 -4.04,-9 -9,-9z"
                                        ></path>
                                    </g>
                                </g>
                            </svg>
                        </a>
                    </li>
                    <li>
                        <a href="https://facebook.com/DDNintelligence" target="_blank" rel="nofollow" title="DDN at Facebook">
                            <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="100" height="100" viewBox="0,0,256,256">
                                <g
                                    fill="#ffffff"
                                    fill-rule="nonzero"
                                    stroke="none"
                                    stroke-width="1"
                                    stroke-linecap="butt"
                                    stroke-linejoin="miter"
                                    stroke-miterlimit="10"
                                    stroke-dasharray=""
                                    stroke-dashoffset="0"
                                    font-family="none"
                                    font-weight="none"
                                    font-size="none"
                                    text-anchor="none"
                                    style="mix-blend-mode: normal"
                                >
                                    <g transform="scale(5.12,5.12)">
                                        <path
                                            d="M41,4h-32c-2.76,0 -5,2.24 -5,5v32c0,2.76 2.24,5 5,5h32c2.76,0 5,-2.24 5,-5v-32c0,-2.76 -2.24,-5 -5,-5zM37,19h-2c-2.14,0 -3,0.5 -3,2v3h5l-1,5h-4v15h-5v-15h-4v-5h4v-3c0,-4 2,-7 6,-7c2.9,0 4,1 4,1z"
                                        ></path>
                                    </g>
                                </g>
                            </svg>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="footer-nav">
                <ul>
                    <li class="menu-item-has-children">
                        <a href="/aboutus.html" class="">关于我们</a>
                        <ul>
                            <li><a href="/aboutus.html" class="">公司</a></li>
                            <li><a href="/corporatesocialresponsibility.html" class="">企业社会责任</a></li>
                            <li><a href="/careers.html" class="">招聘</a></li>
                            <li><a href="/contactanaispecialist.html" class="">联系存储专家</a></li>
                            <!-- <li><a href="#" target="_blank" class="">Cookie 政策</a></li> -->
                        </ul>
                    </li>
                    <li class="menu-item-has-children">
                        <a href="/resources.html" class="">其他资源</a>
                        <ul>
                            <li><a href="/resources.html" class="">资源中心</a></li>
                            <!-- <li><a href="/events.html" class="">活动</a></li>
                    <li><a href="/blog.html" class="">博客</a></li>
                    <li><a href="/news.html" class="">新闻</a></li> -->
                            <li><a href="/news.html" class="">新闻资讯</a></li>
                            <li><a href="/awardsaccolades.html" class="">荣誉与奖项</a></li>
                            <li><a href="https://www.ddn.com/" target="_blank" class="">DDN USA</a></li>
                            <li><a href="https://ddn.co.jp/" target="_blank" class="">DDN Japan</a></li>
                        </ul>
                    </li>

                    <li class="menu-item-has-children">
                        <a href="/contactanaispecialist.html" class="">联系方式</a>
                        <ul>
                            <li>
                                <a href="tel:+86 180 4998 8826">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                                        <path
                                            d="M12 17.5H12.01M8.2 22H15.8C16.9201 22 17.4802 22 17.908 21.782C18.2843 21.5903 18.5903 21.2843 18.782 20.908C19 20.4802 19 19.9201 19 18.8V5.2C19 4.07989 19 3.51984 18.782 3.09202C18.5903 2.71569 18.2843 2.40973 17.908 2.21799C17.4802 2 16.9201 2 15.8 2H8.2C7.0799 2 6.51984 2 6.09202 2.21799C5.71569 2.40973 5.40973 2.71569 5.21799 3.09202C5 3.51984 5 4.0799 5 5.2V18.8C5 19.9201 5 20.4802 5.21799 20.908C5.40973 21.2843 5.71569 21.5903 6.09202 21.782C6.51984 22 7.07989 22 8.2 22ZM12.5 17.5C12.5 17.7761 12.2761 18 12 18C11.7239 18 11.5 17.7761 11.5 17.5C11.5 17.2239 11.7239 17 12 17C12.2761 17 12.5 17.2239 12.5 17.5Z"
                                            stroke="white"
                                            stroke-width="1.25"
                                            stroke-linecap="round"
                                            stroke-linejoin="round"
                                        ></path>
                                    </svg>
                                    +86 180 4998 8826
                                </a>
                            </li>
                            <li>
                                <a href="mailto:Team-China.Marketing@ddn.com">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                                        <path
                                            d="M18.4163 4.66602H5.58301C4.06422 4.66602 2.83301 5.89723 2.83301 7.41602V16.5827C2.83301 18.1015 4.06422 19.3327 5.58301 19.3327H18.4163C19.9351 19.3327 21.1663 18.1015 21.1663 16.5827V7.41602C21.1663 5.89723 19.9351 4.66602 18.4163 4.66602Z"
                                            stroke="white"
                                            stroke-width="1.25"
                                            stroke-linecap="round"
                                            stroke-linejoin="round"
                                        ></path>
                                        <path
                                            d="M6.5752 10.0352L10.3174 12.6548C10.9235 13.0791 11.2266 13.2912 11.5562 13.3734C11.8474 13.446 12.1519 13.446 12.443 13.3734C12.7726 13.2912 13.0757 13.0791 13.6818 12.6548L17.424 10.0352"
                                            stroke="white"
                                            stroke-width="1.25"
                                            stroke-linecap="round"
                                            stroke-linejoin="round"
                                        ></path>
                                    </svg>
                                    Team-China.Marketing@ddn.com
                                </a>
                            </li>
                            <li>
                                <a href="/officelocations.html">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                                        <path
                                            d="M12 22C16 18 20 14.4183 20 10C20 5.58172 16.4183 2 12 2C7.58172 2 4 5.58172 4 10C4 14.4183 8 18 12 22Z"
                                            stroke="white"
                                            stroke-width="1.25"
                                            stroke-linecap="round"
                                            stroke-linejoin="round"
                                        ></path>
                                        <path
                                            d="M12 13C13.6569 13 15 11.6569 15 10C15 8.34315 13.6569 7 12 7C10.3431 7 9 8.34315 9 10C9 11.6569 10.3431 13 12 13Z"
                                            stroke="white"
                                            stroke-width="1.25"
                                            stroke-linecap="round"
                                            stroke-linejoin="round"
                                        ></path>
                                    </svg>
                                    办公地点
                                </a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
        <div class="footer-privacy-holder">
            <div class="decor"></div>
            <div class="copy">© 2025 DDN <span>版权所有</span></div>
            <ul class="add-links">
                <li><a href="/privacypolicy.html" class="">隐私策略</a></li>
            </ul>
        </div>
    </div>
</footer>
