
      <header class="header">
        <div class="container">
          <div class="header-inner">
            <strong class="header-logo">
              <a href="/" title="DDN：数据存储和管理解决方案">
                <img src="../../assets/svg/common/main-logo.svg" alt="111" width="117" height="42" class="white" data-no-lazy="1" loading="eager" fetchpriority="high" decoding="async" />
                <img src="../../assets/svg/common/main-logo-dark.svg" alt="111" width="117" height="42" class="dark" data-no-lazy="1" loading="lazy" fetchpriority="low" />
              </a>
            </strong>
            <div class="header-buttons"><a href="/contactanaispecialist.html" class="button">联系我们</a></div>
            <div class="header-menu-wrap">
              <div class="header-menu">
                <div class="header-actions">
                  <div class="logo-small">
                    <a href="/" title="DDN：数据存储和管理解决方案">
                      <img src="../../assets/svg/common/main-logo-small.svg" alt="" width="41" height="42" data-no-lazy="1" loading="lazy" fetchpriority="low" />
                    </a>
                  </div>
                  <button class="btn-menu">菜单</button>
                </div>
                <nav class="menu">
                  <div class="holder">
                    <nav class="nav">
                      <ul id="menu-header-menu" class="main-menu">
                        <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-764 menu-item-has-children" id="menu-item-764">
                          <a title="Products" href="#" role="button">产品</a>
                          <div class="sub-menu menu-products">
                            <div class="inner">
                              <div class="sub-menu-columns">
                                <div class="sub-menu-columns-inner">
                                  <div class="column">
                                    <div class="sub-title">平台</div>
                                    <ul>
                                      <li><a href="/ddnenterpriseaihyperpod.html" class="">HyperPOD™</a></li>
                                      <li><a href="/dataIntelligencePlatform.html" class="">数据智能平台</a></li>
                                      <li><a href="/ai400x3.html" class="">AI400X3</a></li>
                                      <li><a href="/aI400X2Turbo.html" class="">AI400X2 Turbo</a></li>
                                      <li><a href="/inferno.html" class="">Inferno</a></li>
                                      <li><a href="/intelliflash.html" class="">统一存储</a></li>
                                    </ul>
                                    <div class="sub-title">系统</div>
                                    <ul>
                                      <li><a href="/cloudservices.html" class="">云</a></li>
                                      <li><a href="/a3iacceleratedanyscaleai.html" class="">数据中心</a></li>
                                    </ul>
                                  </div>
                                  <div class="column">
                                    <div class="sub-title">软件</div>
                                    <ul>
                                      <li><a href="/lustrefilesystemexascaler.html" class="">EXA 文件存储</a></li>
                                      <li><a href="/exascalercloud.html" class="">EXAScaler 云</a></li>
                                      <li><a href="/industrysync.html" class="">IndustrySync</a></li>
                                      <li><a href="/infinia.html" class="">Infinia</a></li>
                                      <li><a href="/insightsoftware.html" class="">Insight Software</a></li>
                                      <li><a href="/xfusionai.html" class="">xFusionAI</a></li>
                                    </ul>
                                  </div>
                                </div>
                              </div>
                              <!-- <div class="sub-menu-card">
                                <div class="post-item">
                                  <div class="image">
                                    <img
                                      src="/assets/image/home/ddn-google-cloud-1200x628-v1b-2-768x403.png"
                                      alt="3333"
                                      width="768"
                                      height="403"
                                      loading="lazy"
                                      fetchpriority="low"
                                    />
                                  </div>
                                  <div class="details">2025-07-08</div>
                                  <div class="h5">
                                    <a href="/pressreleases.html?d=googlecloudlaunchesgeneralavailabilityofmanagedlustrepoweredbyddnsexascalertechnology">由 DDN EXAScaler 提供支持的 Google Cloud Managed Lustre 提供高性能文件系统现已普遍可用于 AI 和 HPC工作量</a>
                                  </div>
                                  <div class="title-label">新闻</div>
                                </div>
                              </div> -->
                            </div>
                          </div>
                        </li>
                        <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-765 menu-item-has-children" id="menu-item-765">
                          <a title="Solutions" href="#" role="button">解决方案</a>
                          <div class="sub-menu menu-products">
                            <div class="inner">
                              <div class="sub-menu-columns">
                                <div class="sub-menu-columns-inner">
                                  <div class="column">
                                    <div class="sub-title"><a href="/solutions_artificialintelligencestorage.html" class="">AI 人工智能</a></div>
                                    <ul>
                                      <li><a href="/solutions_agenticai.html" class="">自主型AI</a></li>
                                      <li><a href="/solutions_aiinference.html" class="">AI推理</a></li>
                                      <li><a href="/solutions_aiworkflows.html" class="">AI工作流</a></li>
                                      <li><a href="/solutions_chatbotcopilot.html" class="">聊天机器人与智能助手</a></li>
                                      <li><a href="/solutions_dataanalytics.html" class="">数据分析</a></li>
                                      <li><a href="/solutions_generativeai.html" class="">生成式AI</a></li>
                                      <li><a href="/solutions_machinelearning.html" class="">机器学习</a></li>
                                      <li><a href="/solutions_sovereignai.html" class="">主权AI</a></li>
                                    </ul>
                                  </div>
                                  <div class="column">
                                    <div class="sub-title"><a href="/cloudservices.html" class="">云计算</a></div>
                                    <ul>
                                      <li><a href="/solutions_cloudserviceproviders.html" class="">云服务提供商</a></li>
                                      <li><a href="/solutions_aiasaservice.html" class="">AI即服务</a></li>
                                    </ul>
                                    <div class="sub-title"><a href="/solutions_hpcstoragesolutions.html" class="">高性能计算</a></div>
                                    <ul>
                                      <li><a href="/solutions_supercomputing.html" class="">超级计算</a></li>
                                      <li><a href="/solutions_designanddigitaltwins.html" class="">设计与数字孪生</a></li>
                                    </ul>
                                  </div>
                                </div>
                              </div>
                              <!-- <div class="sub-menu-card">
                                <div class="post-item">
                                  <div class="image">
                                    <img
                                      src="/assets/image/home/ddnarchitects-guide-agentic-ai-blog-1200x628-inner-768x402.png"
                                      alt="Architect’s Guide To Agentic AI"
                                      width="768"
                                      height="402"
                                      loading="lazy"
                                      fetchpriority="low"
                                    />
                                  </div>
                                  <div class="details">2025-05-12</div>
                                  <div class="h5"><a href="https://www.ddn.com/blog/architects-guide-to-agentic-ai/">AI架构指南</a></div>
                                  <div class="title-label">博客</div>
                                </div>
                              </div> -->
                            </div>
                          </div>
                        </li>
                        <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-766 menu-item-has-children" id="menu-item-766">
                          <a title="Industries" href="#" role="button">行业应用</a>
                          <div class="sub-menu menu-products">
                            <div class="inner">
                              <div class="sub-menu-columns">
                                <div class="sub-title">行业应用</div>
                                <div class="sub-menu-columns-inner">
                                  <div class="column">
                                    <ul>
                                      <li><a href="/solutions_aifactories.html" class="">AI工厂</a></li>
                                      <!-- <li><a href="/solutions_animationvfx.html" class="">动画与视觉特效</a></li> -->
                                      <li><a href="/solutions_automotive.html" class="">汽车行业</a></li>
                                      <!-- <li><a href="/solutions_energy.html" class="">能源行业</a></li> -->
                                      <li><a href="/solutions_financialservices.html" class="">金融服务</a></li>
                                      <li><a href="/solutions_lifesciences.html" class="">医疗健康与生命科学</a></li>
                                    </ul>
                                  </div>
                                  <div class="column">
                                    <ul>
                                      <li><a href="/solutions_academicresearch.html" class="">科研与高校</a></li>
                                      <!-- <li><a href="/solutions_manufacturing.html" class="">制造业</a></li> -->
                                      <!-- <li><a href="/solutions_mediacompanies.html" class="">媒体与娱乐</a></li>
                                      <li><a href="/solutions_securitysurveillance.html" class="">安防与视频监控</a></li>
                                      <li><a href="/solutions_telecommunications.html" class="">电信</a></li>
                                      <li><a href="/solutions_federal.html" class="">公共部门</a></li> -->
                                    </ul>
                                  </div>
                                </div>
                              </div>
                              <!-- <div class="sub-menu-card">
                                <div class="post-item">
                                  <div class="image">
                                    <img src="/assets/image/home/ddn-blog-1200x628-inner-1-768x402.png" alt="22222" width="768" height="402" loading="lazy" fetchpriority="low" />
                                  </div>
                                  <div class="details">2025-06-11</div>
                                  <div class="h5">
                                    <a href="#">用于药物发现及其他领域的人工智能：利用联合人工智能扩展医学发现</a>
                                  </div>
                                  <div class="title-label">博客</div>
                                </div>
                              </div> -->
                            </div>
                          </div>
                        </li>
                        <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-2352 menu-item-has-children" id="menu-item-2352">
                          <a title="Company" href="#" role="button">关于DDN</a>
                          <div class="sub-menu menu-products">
                            <div class="inner">
                              <div class="sub-menu-columns">
                                <div class="sub-menu-columns-inner">
                                  <div class="column">
                                    <div class="sub-title">关于DDN</div>
                                    <ul>
                                      <li><a href="/aboutus.html" class="">关于我们</a></li>
                                      <li><a href="/careers.html" class="">人才招聘</a></li>
                                      <li><a href="/news.html" class="">新闻资讯</a></li>
                                      <!-- <li><a href="/news.html" class="">DDN最新动态</a></li> -->
                                      <!-- <li><a href="/leadership.html" class="">团队管理</a></li> -->
                                      <li><a href="/officelocations.html" class="">办公地点</a></li>
                                      <li><a href="/resources.html" class="">资源中心</a></li>
                                      <!-- <li><a href="/events.html" class="">近期活动</a></li> -->
                                    </ul>
                                  </div>
                                  <div class="column">
                                    <div class="sub-title">为您定制</div>
                                    <ul>
                                      <li><a href="javascript:;" class="">需要一个联系通道，功能持续开放中...</a>
                                      <!-- <li><a href="/datascientists.html" class="">数据科学家</a></li>
                                      <li><a href="/executives.html" class="">企业高管</a></li>
                                      <li><a href="/itprofessionals.html" class="">IT专业人员</a></li>
                                      <li><a href="/researchers.html" class="">科研人员</a></li> -->
                                    </ul>
                                  </div>
                                </div>
                              </div>
                              <!-- <div class="sub-menu-card">
                                <div class="post-item">
                                  <div class="image">
                                    <img src="/assets/image/home/ddn-blog-1200x628-inner-v2-768x402.png" alt="22222" width="768" height="402" loading="lazy" fetchpriority="low" />
                                  </div>
                                  <div class="details">2025-06-18</div>
                                  <div class="h5">
                                    <a href="#">AI 和 HPC 工作负载需要最高性能数据 – DDN 是 IO500 无可争议的领导者</a>
                                  </div>
                                  <div class="title-label">博客</div>
                                </div>
                              </div> -->
                            </div>
                          </div>
                        </li>
                        <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-12563" id="menu-item-12563">
                          <a href="/partners.html">合作伙伴</a>
                        </li>
                        <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-11193" id="menu-item-11193">
                          <a title="Customers" href="/customers.html">客户</a>
                        </li>
                        <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-6471" id="menu-item-6471">
                          <a title="Support" href="/support.html">技术支持</a>
                        </li>
                      </ul>
                    </nav>
                  </div>
                </nav>
              </div>
            </div>
          </div>
        </div>
      </header>