<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<meta data-hid="description" name="description"
    content="pushplus 推送加 - 集成了微信、短信、邮件等实时信息推送平台。只需要调用简单的API，即可帮助你迅速完成消息的推送，使用简单方便">
<meta name="Keywords" content="pushplus,pushplus(推送加),推送加,消息推送,微信消息推送,微信推送">
<meta name="copyright" content="苏州破壳网络科技有限公司">
<% if (title) { %>
<title><%= title %></title>
<% }else{ %>
<title>pushplus 推送加 官网 - 消息推送平台</title>
<% } %>
<link rel="icon" type="image/x-icon" href="/favicon.ico" />