<!DOCTYPE html>
<html lang="zh">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta data-hid="description" name="description"
        content="pushplus(推送加) - 集成了微信、短信、邮件等实时信息推送平台。只需要调用简单的API，即可帮助你迅速完成消息的推送，使用简单方便">
    <meta name="Keywords" content="pushplus(推送加) - 集成了微信、短信、邮件等实时信息推送平台">
    <meta name="author" content="中道科技">
    <meta name="copyright" content="苏州破壳网络科技有限公司">
    <title>pushplus-(推送加)微信推送消息直达</title>
    <link rel="icon" type="image/x-icon" href="/favicon.ico" />
</head>

<body>
    <div id="layoutDefault">
        <div id="layoutDefault_content">
            <main>
                <nav class="navbar navbar-expand-lg navbar-dark">
                    <div class="container">
                        <a class="navbar-brand" href="#">
                            <img src="../../assets/image/push+.png" alt="psuh+" />
                        </a>
                        <button class="navbar-toggler" type="button" data-toggle="collapse"
                            data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                            aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button>
                        <div class="collapse navbar-collapse" id="navbarSupportedContent">
                            <ul class="navbar-nav ml-auto mr-lg-2">
                                <li class="nav-item active">
                                    <a class="nav-link" href="#">首页</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#">一对一推送</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#">一对多推送</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#">文档</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#">退出</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </nav>
                <header class="page-header page-header-light">
                    <div id="pushplusHomeCarousel" class="carousel slide carousel-fade" data-ride="carousel" data-interval="false">
                        <div class="carousel-inner">
                            <div class="carousel-item active">
                                <div class="page-header-content pt-5">
                                    <div class="container">
                                        <div class="row align-items-center">
                                            <div class="col-lg-6">
                                                <h1 class="page-header-title">what is push+?</h1>
                                                <p class="page-header-text mb-3 pt-5">pushplus集成了微信、短信、邮件等实时信息推送平台；
                                                </p>
                                                <p class="page-header-text mb-3">你只需要调用简单的API，即可帮助你迅速完成消息的推送，使用简单方便；</p>
                                                <p class="page-header-text mb-3">一切只是为了让推送变的更简单；</p>
                                            </div>
                                            <div class="col-lg-6 d-none d-lg-block">
                                                <img class="img-fluid" src="../../assets/image/index-one.png">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="carousel-item">
                                <div class="page-header-content pt-5">
                                    <div class="container">
                                        <div class="row align-items-center">
                                            <div class="col-lg-6">
                                                <h1 class="page-header-title">what can push+ do?</h1>
                                                <p class="page-header-text mb-3 pt-5">你可以使用pushplus
                                                    用来做报警通知，发布通知，状态通知等，只要不包含敏感信息，
                                                </p>
                                                <p class="page-header-text mb-3">原则上我们不会对消息内容做出限制。在后续的开发中，</p>
                                                <p class="page-header-text mb-3">
                                                    我们还会基于jenkins,gitlab等优秀的软件开发相应的插件服务，满足不同场景下的使用</p>
                                            </div>
                                            <div class="col-lg-6 d-none d-lg-block">
                                                <img class="img-fluid" src="../../assets/image/index-two.png">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="carousel-item">
                                <div class="page-header-content pt-5">
                                    <div class="container">
                                        <div class="row align-items-center">
                                            <div class="col-lg-6">
                                                <h1 class="page-header-title">features of push+ </h1>
                                                <p class="page-header-text mb-3 pt-5">使用简单方便</p>
                                                <p class="page-header-text mb-3">消息多样化，支持markdown等格式消息；</p>
                                                <p class="page-header-text mb-3">支持消息存储；</p>
                                                <p class="page-header-text mb-3">免费使用</p>
                                            </div>
                                            <div class="col-lg-6 d-none d-lg-block">
                                                <img class="img-fluid" src="../../assets/image/index-three.png">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </header>
            </main>
            <div class="container">
                <div class="row justify-content-center">
                    <div class="btn-down carousel-control-next" href="#pushplusHomeCarousel" role="button" data-slide="next"><i class="bi bi-chevron-double-down"></i></div>
                </div>
            </div>
        </div>
        <div id="layoutDefault_footer">
            <div class="container">
                <hr class="my-3" />
                <div class="row justify-content-center">
                    <div class="col-lg-8">
                        <p class="text-center mb-2">
                            <span>© 2019 - 2021 </span>
                            <span class="pr-3 pl-3"><a href="http://www.pushplus.plus"
                                    target="_blank">www.pushplus.plus</a></span>
                            <span>pushplus &nbsp; 推送加 &nbsp; 开放平台</span>
                        </p>
                        <p class="text-center mb-2">
                            <span>生命不息，开发不止</span>
                        </p>
                        <p class="text-center mb-5">
                            <a href="https://beian.miit.gov.cn/" target="_blank">苏ICP备2021004906号</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>