/*from tccdn minify at 2016-5-27 14:53:48,file：/cn/y/16/c/common-nav.2.0.css?v=2016051701*/

.clearfix:after {
    clear: both;
    content: ".";
    display: block;
    height: 0;
    line-height: 0;
    visibility: hidden;
}

* html .clearfix {
    zoom: 1;
}

*:first-child + html .clearfix {
    zoom: 1;
}

body{
    background-color:red;
    border-bottom:10px solid blue;
}

content {
    /* -webkit-user-select:none;
        -moz-user-select:none;
        -o-user-select:none;
        -ms-user-select:none;
        user-select:none; */
}

.ylc-nav .none,
.ylc-modal .none {
    display: none !important;
}


/* ylc===youluncommon*/

.ylc-nav {
    position: fixed;
    height: 100%;
    width: 40px;
    top: 0;
    right: 0;
    background-color: #333;
    min-height: 600px;
    z-index: 9999;
}

.ylc-nav * {
    outline: 0;
}

.ylc-nav a:active.a:focus {
    outline: 0;
}

.ylc-nav img {
    border: 0;
    margin: 0;
    padding: 0;
}

.ylc-nav .ylc-item,
.ylc-nav .ylc-items {
    float: left;
    display: block;
    width: 100%;
}

.ylc-nav .ylc-item {
    position: relative;
}

.ylc-nav .ylc-item > img {
    float: left;
}

.ylc-nav .ylc-item .ylc-more {
    position: absolute;
    right: 40px;
    top: 0;
    display: none;
}

.ylc-nav .ylc-item:hover .ylc-more {
    display: block;
}

.ylc-nav .ylc-top {
    margin-top: 24px;
}

.ylc-nav .ylc-items > a {
    position: relative;
    float: left;
    display: block;
    width: 100%;
    margin: 8px 0 0;
    padding: 2px 0;
    text-align: center;
}

.ylc-nav .ylc-items > a .ylc-hot {
    position: absolute;
    right: 0;
    width: 21px;
    height: 14px;
    background: url(http://img1.40017.cn/cn/y/16/c/common.png) no-repeat -179px -50px;
}

.ylc-nav .ylc-items > a .ylc-icon {
    display: inline-block;
    vertical-align: 0;
    height: 40px;
    width: 40px;
    /* background-color: red; */
    background: url(http://img1.40017.cn/cn/y/16/c/common.png) no-repeat 0 0;
}

.ylc-nav .ylc-items > a .ylc-more {
    margin: 0;
    padding: 0;
    position: absolute;
    top: 2px;
    right: 60px;
    opacity: 0;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    visibility: hidden;
    z-index: 1;
}

.ylc-nav .ylc-items > a .ylc-more p {
    margin: 0px;
    padding: 0;
    height: 47px;
    text-align: center;
    background: #636363;
    font-size: 14px;
    font-family: Microsoft YaHei;
    color: #fff;
    padding: 0 15px;
    line-height: 47px;
    white-space: nowrap;
}

.ylc-nav .ylc-items > a .ylc-more i {
    position: absolute;
    width: 0;
    height: 0;
    border-top: 5px solid transparent;
    border-left: 5px solid #636363;
    border-bottom: 5px solid transparent;
    top: 50%;
    right: -5px;
    margin-top: -5px;
}

.ylc-nav .ylc-items > a .ylc-tips {
    position: absolute;
    white-space: nowrap;
    right: 120px;
    top: 16px;
    height: 22px;
    line-height: 22px;
    background-color: #f9ede4;
    color: #ff862a;
    padding: 0 20px;
    font-size: 12px;
    font-family: Microsoft YaHei;
    -webkit-border-radius: 11px 11px 11px 11px;
    -moz-border-radius: 11px 11px 11px 11px;
    -o-border-radius: 11px 11px 11px 11px;
    border-radius: 11px 11px 11px 11px;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: all 0.6s ease-in-out;
    -moz-transition: all 0.6s ease-in-out;
    -o-transition: all 0.6s ease-in-out;
    -ms-transition: all 0.6s ease-in-out;
    transition: all 0.6s ease-in-out;
    z-index: 9;
}

.ylc-nav .ylc-items > a .ylc-tips.open {
    right: 54px;
    opacity: 1;
    visibility: visible;
}

.ylc-nav .ylc-items > a .ylc-txt-label {
    display: inline-block;
    vertical-align: middle;
    height: 40px;
    width: 40px;
    color: #ababab;
    margin: 3px 0;
    text-align: center;
    font-size: 14px;
    overflow: hidden;
    font-family: Microsoft YaHei;
}

.ylc-nav .ylc-items > a.ylc-user .ylc-icon {
    background-position: -112px 6px;
}

.ylc-nav .ylc-items > a.ylc-collect .ylc-icon {
    background-position: 8px -30px;
}

.ylc-nav .ylc-items > a.ylc-crown .ylc-icon {
    background-position: -32px -30px;
}

.ylc-nav .ylc-items > a.ylc-game .ylc-icon {
    background-position: -72px -30px;
}

.ylc-nav .ylc-items > a.ylc-wechat .ylc-icon {
    background-position: 8px -107px;
}

.ylc-nav .ylc-items > a.ylc-app .ylc-icon {
    background-position: -169px -110px;
}

.ylc-nav .ylc-items > a.ylc-custom .ylc-icon {
    background-position: -32px -110px;
}

.ylc-nav .ylc-items > a.ylc-gotop .ylc-icon {
    background-position: -72px -110px;
}

.ylc-nav .ylc-items > a:hover {
    background-color: #f60;
}

.ylc-nav .ylc-items > a:hover .ylc-hot {
    display: none;
}

.ylc-nav .ylc-items > a:hover .ylc-more {
    right: 40px;
    opacity: 1;
    visibility: visible;
}

.ylc-nav .ylc-items > a:hover .ylc-txt-label {
    color: #fff;
}

.ylc-nav .ylc-items > a:hover.ylc-user .ylc-icon {
    background-position: -112px 6px;
}

.ylc-nav .ylc-items > a:hover.ylc-collect .ylc-icon {
    background-position: 8px 10px;
}

.ylc-nav .ylc-items > a:hover.ylc-crown .ylc-icon {
    background-position: -32px 10px;
}

.ylc-nav .ylc-items > a:hover.ylc-game .ylc-icon {
    background-position: -72px 10px;
}

.ylc-nav .ylc-items > a:hover.ylc-wechat .ylc-icon {
    background-position: 8px -67px;
}

.ylc-nav .ylc-items > a:hover.ylc-app .ylc-icon {
    background-position: -169px -69px;
}

.ylc-nav .ylc-items > a:hover.ylc-custom .ylc-icon {
    background-position: -32px -70px;
}

.ylc-nav .ylc-items > a:hover.ylc-gotop .ylc-icon {
    background-position: -72px -70px;
}

.ylc-nav .ylc-bottom {
    position: absolute;
    bottom: 0;
}

.ylc-nav .wechat-box {
    position: absolute;
    right: 0;
    bottom: -70px;
}

.ylc-nav .wechat-box div {
    background: url(http://img1.40017.cn/cn/y/16/c/wechat-box.png) no-repeat 0 0;
    width: 183px;
    height: 264px;
    position: relative;
    z-index: 1;
}

.ylc-nav .wechat-box img {
    position: absolute;
    z-index: 0;
    top: 57px;
    left: 17px;
    border: 1px solid #fff;
}

.ylc-nav .app-box {
    position: absolute;
    right: 0;
    bottom: -104px;
}

.ylc-nav .app-box div {
    background: url(http://img1.40017.cn/cn/y/16/c/app-box.png) no-repeat 0 0;
    width: 166px;
    height: 284px;
    position: relative;
    z-index: 1;
}

.ylc-nav .app-box img {
    position: absolute;
    z-index: 1;
    top: 109px;
    left: 29px;
    border: 1px solid #fff;
}

.ylc-nav .ylc-items > a .wechat-box i {
    margin-top: 82px;
    border-left-color: #f2281b;
}

.ylc-nav .ylc-items > a .app-box i {
    margin-top: 55px;
    border-left-color: #103e7d;
}

.ylc-nav .ylc-plus {
    position: absolute;
    top: 250px;
    right: 40px;
    z-index: 0;
    display: none;
}

.ylc-nav .ylc-plus-close {
    position: absolute;
    font-size: 18px;
    font-family: Microsoft YaHei;
    display: inline-block;
    width: 18px;
    height: 18px;
    line-height: 16px;
    vertical-align: middle;
    text-align: center;
    -webkit-border-radius: 50% 50% 50% 50%;
    -moz-border-radius: 50% 50% 50% 50%;
    -o-border-radius: 50% 50% 50% 50%;
    border-radius: 50% 50% 50% 50%;
    color: #fff;
    background-color: #bababa;
    top: 18px;
    left: -26px;
    text-decoration: none;
}

.ylc-nav .ylc-plus-close:hover {
    background-color: #aaa;
    color: #f60;
}

.ylc-nav .ylc-plus-tips {
    background-color: #fff;
    height: 66px;
    width: 200px;
    position: absolute;
    left: -164px;
    -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: 0 0 8px rgba(0, 0, 0, 0.4);
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.4);
    box-sizing: content-box;
    padding: 10px 15px;
    top: 66px;
    display: none;
}

.ylc-nav .ylc-plus-tips:before {
    content: " ";
    display: inline-block;
    position: absolute;
    width: 0;
    height: 0;
    border-left: 7px solid transparent;
    border-bottom: 9px solid #fff;
    border-right: 7px solid transparent;
    top: -9px;
    right: 26px;
}

.ylc-nav .ylc-plus-tips h4 {
    font-size: 16px;
    color: #333;
    font-family: Microsoft YaHei;
    line-height: 28px;
}

.ylc-nav .ylc-plus-tips h4 span {
    color: #ff7200;
}

.ylc-nav .ylc-plus-tips p {
    font-size: 12px;
    font-family: Microsoft YaHei;
    color: #666;
    line-height: 18px;
}

.ylc-nav .ylc-plus-tips p a {
    color: #0b8fdd;
    text-decoration: none;
}

.ylc-nav .ylc-plus-tips p a:hover {
    color: #ff7200;
}

.ylc-nav img.ylc-pro-img {
    width: 234px;
    height: 145px;
}

.ylc-modal {
    width: 720px;
    min-height: 300px;
    background-color: #fff;
    position: fixed;
    top: 50%;
    left: 50%;
    margin-left: -360px;
    margin-top: -225px;
    z-index: 10001;
    font-family: Microsoft YaHei;
}

.ylc-modal-head {
    width: 100%;
    height: 70px;
    float: left;
}

.ylc-modal-head h4 {
    height: 30px;
    width: 134px;
    background: url(http://img1.40017.cn/cn/y/16/c/cnav-icon.png) no-repeat 0 -70px;
    float: left;
    margin: 20px 0 0 20px;
}

.ylc-modal-head span {
    float: left;
    font-size: 12px;
    color: #666;
    line-height: 20px;
    margin-top: 30px;
}

.ylc-modal-head a {
    float: right;
    text-decoration: none;
    display: inline-block;
    width: 16px;
    height: 16px;
    background: url(http://img1.40017.cn/cn/y/16/c/cnav-icon.png) no-repeat 0 0;
    margin: 13px 20px;
}

.ylc-modal-tips {
    position: absolute;
    height: 22px;
    background-color: #ebf5ff;
    -webkit-border-radius: 11px 11px 11px 11px;
    -moz-border-radius: 11px 11px 11px 11px;
    -o-border-radius: 11px 11px 11px 11px;
    border-radius: 11px 11px 11px 11px;
    line-height: 22px;
    font-size: 12px;
    color: #4ba8fe;
    padding: 0 20px;
    top: 32px;
    right: 40px;
    width: 190px;
    overflow: hidden;
    text-align: center;
    -webkit-transition: all 0.6s ease-in-out;
    -moz-transition: all 0.6s ease-in-out;
    -o-transition: all 0.6s ease-in-out;
    -ms-transition: all 0.6s ease-in-out;
    transition: all 0.6s ease-in-out;
    opacity: 0;
    visibility: hidden;
}

.ylc-modal-tips p {
    position: absolute;
    top: 0px;
    left: 0px;
    text-align: center;
    
}

.ylc-modal-tips p span {
    float: left;
    width: 100%;
    height: 22px;
    line-height: 22px;
}


 .ylc-modal-tips.open {
    opacity: 1;
    visibility: visible;
}

.ylc-modal-content .ylc-sltport {
    position: absolute;
    width: 354px;
    display: none;
    -webkit-box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.1);
    box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    border: 1px solid #e0e0e0;
    padding: 7px 12px 12px;
    z-index: 9;
}

.ylc-modal-content .ylc-sltport-head {
    border-bottom: 1px solid #ccc;
    position: relative;
    height: 30px;
}

.ylc-modal-content .ylc-sltport-tab {
    position: absolute;
    margin-bottom: -1px;
}

.ylc-modal-content .ylc-sltport-tab a {
    height: 30px;
    text-decoration: none;
    display: inline-block;
    color: #333;
    font: 12px/30px Microsoft YaHei;
    padding: 0 5px;
    margin-right: 5px;
}

.ylc-modal-content .ylc-sltport-tab a.active {
    border-bottom: 1px solid #faa82a;
}

.ylc-modal-content .ylc-sltport-close {
    float: right;
    font-size: 20px;
    text-decoration: none;
    color: #ccc;
    margin: 3px 0;
}

.ylc-modal-content .ylc-sltport-content {
    overflow: hidden;
}

.ylc-modal-content .ylc-sltport-content {
    float: left;
}

.ylc-modal-content .ylc-sltport-content a {
    float: left;
    text-decoration: none;
    font: 12px/18px Microsoft YaHei;
    color: #666;
    padding: 0 15px 0 7px;
    margin: 5px 0;
}

.ylc-modal-content .ylc-sltport-content a:hover {
    color: #ff7800;
}

.ylc-modal-content {
    float: left;
    min-height: 200px;
    width: 720px;
}

.ylc-modal-content .ylc-unit {
    padding: 0 20px;
}

.ylc-modal-content .ylc-unit-special {
    background-color: #f9f9f9;
    -webkit-box-shadow: 3px 3px 3px #eee inset;
    -moz-box-shadow: 3px 3px 3px #eee inset;
    box-shadow: 3px 3px 3px #eee inset;
    padding: 13px 0;
}

.ylc-modal-content .ylc-unit-normal {
    padding: 13px 0;
}

dl.ylc-unit-ipt {
    margin: 7px 0;
    display: inline-block;
}

dl.ylc-unit-ipt>dt {
    float: left;
    text-align: right;
    color: #666;
    line-height: 30px;
    width: 94px;
    font-size: 14px;
    text-align: right;
}

dl.ylc-unit-ipt>dt>i {
    color: #ff7800;
}

dl.ylc-unit-ipt>dd {
    padding-left: 94px;
    position: relative;
}

dl.ylc-unit-ipt>dd .route-tit {
    font-size: 14px;
    height: 30px;
    line-height: 30px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    width: 530px;
}

dl.ylc-unit-ipt>dd input {
    width: 168px;
    padding: 0 10px;
    line-height: 28px;
    font-size: 14px;
    height: 28px;
    border: 1px solid #ddd;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -o-border-radius: 2px;
    border-radius: 2px;
    color: #333;
}

.ylc-unit-normal dl.ylc-unit-ipt>dd input {
    width: 198px;
}

dl.ylc-unit-ipt.route_port>dd input,
dl.ylc-unit-ipt.tour_date>dd input {
    cursor: pointer;
}

dl.ylc-unit-ipt>dd .s_show_div {
    display: inline-block;
    position: relative;
}

dl.ylc-unit-ipt>dd input:focus {
    border-color: #8297b0;
}

dl.ylc-unit-ipt.eve_yusuan>dd input {
    padding-left: 23px;
    width: 156px;
}

dl.ylc-unit-ipt>dd .ro_yu {
    position: absolute;
    color: #999;
    top: 5px;
    left: 104px;
}

dl.ylc-unit-ipt>dd .route {}

dl.ylc-unit-ipt>dd input.place_holder {
    color: #999;
}

dl.ylc-unit-ipt>dd span.s_dp {
    margin: 0 5px;
}

dl.ylc-unit-ipt>dd span.no_enter {
    margin-left: 5px;
    height: 30px;
    line-height: 30px;
    display: inline-block;
    vertical-align: middle;
    cursor: pointer;
}

dl.ylc-unit-ipt>dd span.no_enter>i {
    display: inline-block;
    width: 13px;
    height: 13px;
    margin-right: 5px;
    background: url(http://img1.40017.cn/cn/y/14/o/pinfo/info_sp.0.1.png?v=01) no-repeat -70px 0;
    position: relative;
    top: 2px;
}

dl.ylc-unit-ipt>dd span.no_enter.checked>i {
    background-position: -49px 0;
}

dl.ylc-unit-ipt>dd span.sp_tops {
    margin-left: 5px;
    height: 30px;
    line-height: 30px;
    display: inline-block;
    vertical-align: middle;
}

dl.ylc-unit-ipt>dd span.c_f60 {
    color: #f60;
}

dl.ylc-unit-ipt.code>dd span.get_code {
    margin-left: 10px;
    line-height: 28px;
    height: 28px;
    padding: 0 13px;
    border: 1px solid #ddd;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -o-border-radius: 2px;
    border-radius: 2px;
    color: #ff7800;
    display: inline-block;
    vertical-align: middle;
    cursor: pointer;
}

dl.ylc-unit-ipt.code>dd span.get_code>span {
    display: none;
    color: #666;
    font-size: 14px;
}

dl.ylc-unit-ipt.code>dd span.no_active>span {
    display: inline-block;
}

dl.ylc-unit-ipt.code>dd span.no_active {
    color: #ddd;
    cursor: default;
}

dl.ylc-unit-ipt>dd span.err_msg {
    border: 1px solid #f4e09d;
    background-color: #fff7dc;
    font-size: 12px;
    color: #666;
    display: inline-block;
    height: 28px;
    line-height: 28px;
    padding: 0 7px;
    position: relative;
    margin-left: 10px;
    display: none;
    vertical-align: middle
}

dl.ylc-unit-ipt>dd span.err_msg i {
    display: inline-block;
    height: 18px;
    width: 18px;
    background: url(http://img1.40017.cn/cn/y/16/p/price_remind_icon.png) no-repeat -40px -180px;
    vertical-align: -5px;
    margin: 0 3px 0 0
}

dl.ylc-unit-ipt>dd.has_error input {
    border-color: #ff7800
}

dl.ylc-unit-ipt>dd.has_error span.err_msg {
    display: inline-block
}

dl.ylc-unit-ipt.code>dd.has_error span.err_msg {
    margin: 0
}

.ylc-modal-content .ylc-err {
    font: 12px/24px Microsoft YaHei;
    color: #666;
    height: 24px;
}

.ylc-modal-content .ylc-err i {
    height: 16px;
    width: 16px;
    background: url(http://img1.40017.cn/cn/y/16/c/common.png) no-repeat -120px -120px;
    vertical-align: -3px;
    margin: 0 3px;
    display: inline-block;
}

.ylc-modal-content .ylc-err.ylc-err-sp {
    background-color: #fff7dc;
    border: 1px solid #f5e2a3;
    line-height: 28px;
    height: 28px;
    display: inline-block;
    padding: 0 8px;
    vertical-align: middle;
}

.ylc-modal-content .ylc-datepicker {
    border: 1px solid #ddd;
    -webkit-border-radius: 2px 2px 2px 2px;
    -moz-border-radius: 2px 2px 2px 2px;
    -o-border-radius: 2px 2px 2px 2px;
    border-radius: 2px 2px 2px 2px;
    height: 28px;
    width: 160px;
    position: relative;
    line-height: 28px;
}

.ylc-modal-content .ylc-datepicker input {
    width: 100%;
    border: none;
    height: 28px;
    text-indent: 15px;
    margin: 0;
    padding: 0;
    float: left;
    color: #333;
    font: 12px/28px Arial;
}

.ylc-modal-content .ylc-datepicker a {
    display: inline-block;
    height: 28px;
    width: 28px;
    border-left: 1px solid #ddd;
    position: absolute;
    top: 0;
    right: 0;
    text-align: center;
    line-height: 28px;
}

.ylc-modal-content .ylc-datepicker a:after {
    content: " ";
    display: inline-block;
    height: 8px;
    width: 12px;
    background: url(http://img1.40017.cn/cn/y/16/c/common.png) no-repeat -120px -80px;
}

.ylc-modal-content .ylc-info .ylc-datepicker a {
    margin: 0;
}

.ylc-modal-content .ylc-infomore {
    padding-left: 75px;
    margin-top: 5px;
    padding-bottom: 10px;
    font: 12px/24px Microsoft YaHei;
    border-bottom: 1px dashed #ddd;
}

.ylc-modal-content .ylc-infomore input {
    display: inline-block;
    vertical-align: -2px;
}

.ylc-modal-content .ylc-infott {
    margin: 0;
    padding: 0;
    padding-top: 6px;
    font: 14px/32px Microsoft YaHei;
    color: #333;
    text-indent: 5px;
}

.ylc-modal-content #iptYlcPhone,
.ylc-modal-content #iptYlcName {
    border: 1px solid #ddd;
    height: 28px;
    font: 12px/28px Microsoft YaHei;
    color: #333;
    text-indent: 8px;
    width: 180px;
    -webkit-border-radius: 2px 2px 2px 2px;
    -moz-border-radius: 2px 2px 2px 2px;
    -o-border-radius: 2px 2px 2px 2px;
    border-radius: 2px 2px 2px 2px;
}

.ylc-modal-content #iptYlcPhone.placholder,
.ylc-modal-content #iptYlcName.placholder {
    color: #999;
}

.ylc-modal-content #iptYlcPhone:focus,
.ylc-modal-content #iptYlcName:focus {
    border-color: #8297b0;
    outline: 0;
}

.ylc-modal-scrollbar {
    display: inline-block;
    position: absolute;
    top: 0px;
    right: 6px;
    width: 10px;
    height: 40px;
    min-height: 20px;
    -webkit-border-radius: 5px 5px 5px 5px;
    -moz-border-radius: 5px 5px 5px 5px;
    -o-border-radius: 5px 5px 5px 5px;
    border-radius: 5px 5px 5px 5px;
    background-color: #ddd;
}

.ylc-modal-foot {
    width: 100%;
    float: left;
    padding: 0 0 20px;
    /* text-align: center; */
}

.ylc-modal-foot a.sub_data {
    display: block;
    width: 130px;
    height: 33px;
    text-align: center;
    line-height: 33px;
    color: #fff;
    background-color: #fa993d;
    -webkit-border-radius: 1px;
    -moz-border-radius: 1px;
    -o-border-radius: 1px;
    border-radius: 1px;
    margin: 0 0 10px 114px;
    cursor: pointer;
    text-decoration: none;
    -webkit-border-radius: 2px 2px 2px 2px;
    -moz-border-radius: 2px 2px 2px 2px;
    -o-border-radius: 2px 2px 2px 2px;
    border-radius: 2px 2px 2px 2px;
}

.ylc-modal-foot a.sub_data:hover {
    background-color: #ff6536;
}

.ylc-modal-foot a.sub_no_act {
    background-color: #ccc;
    cursor: default;
}

.ylc-modal-foot a.sub_no_act {
    background-color: #ccc;
}

.ylc-modal-foot .ts_ptip {
    font-size: 12px;
    text-indent: 114px;
    color: #666;
}

.ylc-modal-foot .ts_ptip>span {
    color: #ff7800;
}

.ylc-modal-rs {
    position: fixed;
    z-index: 10003;
    top: 20%;
    left: 50%;
    width: 436px;
    background-color: #fff;
    margin-left: -218px;
    box-shadow: -1px 3px 10px 1px #666;
    font-family: Microsoft YaHei;
}

.ylc-modal-rs .ylc-mr-close {
    cursor: pointer;
    position: absolute;
    height: 16px;
    width: 16px;
    background: url(http://img1.40017.cn/cn/y/16/p/price_remind_icon.png) no-repeat 0 -180px;
    top: 15px;
    right: 20px;
    text-decoration: none;
}

.ylc-modal-rs .s_con {
    padding: 42px 0 42px 114px;
}

.ylc-modal-rs .s_con .h4_txt {
    font-size: 16px;
    color: #333;
}

.ylc-modal-rs .s_con .ps {
    color: #666;
    font-size: 14px;
    line-height: 20px;
    margin-top: 5px;
}

.ylc-modal-rs .s_con .close_but {
    display: inline-block;
    text-align: center;
    line-height: 33px;
    background-color: #fa993d;
    color: #fff;
    font-size: 18px;
    -webkit-border-radius: 1px;
    -moz-border-radius: 1px;
    -o-border-radius: 1px;
    border-radius: 1px;
    width: 130px;
    height: 33px;
    margin-top: 10px;
    cursor: pointer;
}

.ylc-modal-rs .msg_dbg {
    position: absolute;
    left: 58px;
    top: 27.5%;
    background: url(http://img1.40017.cn/cn/y/16/search/tj_nas_s.0.1.png) no-repeat 0 0;
    width: 38px;
    height: 38px;
}

.ylc-modal-rs .fail_sbg {
    background-position: 0 0;
}

.ylc-modal-rs .success_sbg {
    background-position: 0 -50px;
}

.ylc-modal-layer {
    height: 100%;
    width: 100%;
    position: fixed;
    background-color: #000;
    filter: alpha(opacity=50);
    -moz-opacity: 0.5;
    opacity: 0.5;
    top: 0;
    left: 0;
    z-index: 10000;
}


/*
.ylc-modal-rs {
    position: fixed;
    height: 126px;
    width: 386px;
    padding: 40px 20px 40px 40px;
    top: 50%;
    left: 50%;
    margin-top: -103px;
    margin-left: -223px;
    background-color: #fff;
    z-index: 10001;
    -webkit-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

.ylc-modal-rs .ylc-mr-close {
    position: absolute;
    display: inline-block;
    height: 24px;
    width: 24px;
    right: 15px;
    top: 15px;
    font-size: 20px;
    color: #999;
    text-decoration: none;
}

.ylc-modal-rs .ylc-mr-ok {
    display: inline-block;
    text-decoration: none;
    background-color: #faa82a;
    color: #fff;
    height: 34px;
    padding: 0 15px;
    -webkit-border-radius: 2px 2px 2px 2px;
    -moz-border-radius: 2px 2px 2px 2px;
    -o-border-radius: 2px 2px 2px 2px;
    border-radius: 2px 2px 2px 2px;
    font: 16px/34px Microsoft YaHei;
    margin: 15px 0 0 50px;
}

.ylc-modal-rs .ylc-mr-ok:hover {
    background-color: #e39012;
}

.ylc-modal-rs p {
    margin: 0;
    padding: 0 0 0 50px;
    font: 16px/24px Microsoft YaHei;
    color: #333;
    position: relative;
}

.ylc-modal-rs p:after {
    position: absolute;
    content: " ";
    display: inline-block;
    left: -2px;
    top: 18px;
    height: 38px;
    width: 38px;
    background: url(http://img1.40017.cn/cn/y/16/c/common.png) no-repeat -160px 0;
} */

.ylc-pro-box,
.ylc-pro-layer,
.ylc-pro-laybox {
    position: absolute;
    width: 190px;
    height: 84px;
    top: 28px;
    left: 22px;
}

.ylc-pro-layer {
    z-index: 1;
    background-color: #fff;
    filter: alpha(opacity=80);
    -moz-opacity: 0.8;
    opacity: 0.8;
}

.ylc-pro-laybox {
    background-color: transparent;
    -webkit-border-radius: 3px 3px 3px 3px;
    -moz-border-radius: 3px 3px 3px 3px;
    -o-border-radius: 3px 3px 3px 3px;
    border-radius: 3px 3px 3px 3px;
    z-index: 0;
    border: 4px solid #fff;
    margin-top: -4px;
    margin-left: -4px;
    filter: alpha(opacity=50);
    -moz-opacity: 0.5;
    opacity: 0.5;
}

.ylc-pro-box {
    z-index: 2;
    padding: 18px 0;
    height: 48px;
}

.ylc-pro-box h4,
.ylc-pro-box p {
    height: 24px;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    text-align: center;
    line-height: 24px;
    font-size: 16px;
    color: #333;
    font-family: Microsoft YaHei;
}

.ylc-pro-box h4 {
    font-weight: bold;
}

.ylc-pro-box p {
    color: #f60;
}

.fadeInDown {
    -webkit-animation-name: fadeInDown;
    -moz-animation-name: fadeInDown;
    -o-animation-name: fadeInDown;
    -ms-animation-name: fadeInDown;
    animation-name: fadeInDown;
    /*动画名称*/
    -webkit-animation-duration: 1.6s;
    -moz-animation-duration: 1.6s;
    -o-animation-duration: 1.6s;
    -ms-animation-duration: 1.6s;
    animation-duration: 1.6s;
    /*动画持续时间*/
    -webkit-animation-iteration-count: 1;
    -moz-animation-iteration-count: 1;
    -o-animation-iteration-count: 1;
    -ms-animation-iteration-count: 1;
    animation-iteration-count: 1;
    /*动画次数*/
    -webkit-animation-delay: 0s;
    -moz-animation-delay: 0s;
    -o-animation-delay: 0s;
    -ms-animation-delay: 0s;
    animation-delay: 0s;
    /*延迟时间*/
}

.fadeInUp {
    -webkit-animation-name: fadeInUp;
    -moz-animation-name: fadeInUp;
    -o-animation-name: fadeInUp;
    -ms-animation-name: fadeInUp;
    animation-name: fadeInUp;
    /*动画名称*/
    -webkit-animation-duration: 1.6s;
    -moz-animation-duration: 1.6s;
    -o-animation-duration: 1.6s;
    -ms-animation-duration: 1.6s;
    animation-duration: 1.6s;
    /*动画持续时间*/
    -webkit-animation-iteration-count: 1;
    -moz-animation-iteration-count: 1;
    -o-animation-iteration-count: 1;
    -ms-animation-iteration-count: 1;
    animation-iteration-count: 1;
    /*动画次数*/
    -webkit-animation-delay: 0s;
    -moz-animation-delay: 0s;
    -o-animation-delay: 0s;
    -ms-animation-delay: 0s;
    animation-delay: 0s;
    /*延迟时间*/
}

@-webkit-keyframes fadeInDown {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(0, -200%, 0);
        -moz-transform: translate3d(0, -200%, 0);
        -o-transform: translate3d(0, -200%, 0);
        -ms-transform: translate3d(0, -200%, 0);
        transform: translate3d(0, -200%, 0);
    }
    100% {
        opacity: 1;
        -webkit-transform: none;
        -moz-transform: none;
        -o-transform: none;
        -ms-transform: none;
        transform: none;
    }
}

@-moz-keyframes fadeInDown {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(0, -200%, 0);
        -moz-transform: translate3d(0, -200%, 0);
        -o-transform: translate3d(0, -200%, 0);
        -ms-transform: translate3d(0, -200%, 0);
        transform: translate3d(0, -200%, 0);
    }
    100% {
        opacity: 1;
        -webkit-transform: none;
        -moz-transform: none;
        -o-transform: none;
        -ms-transform: none;
        transform: none;
    }
}

@-o-keyframes fadeInDown {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(0, -200%, 0);
        -moz-transform: translate3d(0, -200%, 0);
        -o-transform: translate3d(0, -200%, 0);
        -ms-transform: translate3d(0, -200%, 0);
        transform: translate3d(0, -200%, 0);
    }
    100% {
        opacity: 1;
        -webkit-transform: none;
        -moz-transform: none;
        -o-transform: none;
        -ms-transform: none;
        transform: none;
    }
}

@keyframes fadeInDown {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(0, -200%, 0);
        -moz-transform: translate3d(0, -200%, 0);
        -o-transform: translate3d(0, -200%, 0);
        -ms-transform: translate3d(0, -200%, 0);
        transform: translate3d(0, -200%, 0);
    }
    100% {
        opacity: 1;
        -webkit-transform: none;
        -moz-transform: none;
        -o-transform: none;
        -ms-transform: none;
        transform: none;
    }
}

@-webkit-keyframes fadeInUp {
    0% {
        opacity: 1;
        -webkit-transform: none;
        -moz-transform: none;
        -o-transform: none;
        -ms-transform: none;
        transform: none;
    }
    100% {
        opacity: 0;
        -webkit-transform: translate3d(0, -200%, 0);
        -moz-transform: translate3d(0, -200%, 0);
        -o-transform: translate3d(0, -200%, 0);
        -ms-transform: translate3d(0, -200%, 0);
        transform: translate3d(0, -200%, 0);
    }
}

@-moz-keyframes fadeInUp {
    0% {
        opacity: 1;
        -webkit-transform: none;
        -moz-transform: none;
        -o-transform: none;
        -ms-transform: none;
        transform: none;
    }
    100% {
        opacity: 0;
        -webkit-transform: translate3d(0, -200%, 0);
        -moz-transform: translate3d(0, -200%, 0);
        -o-transform: translate3d(0, -200%, 0);
        -ms-transform: translate3d(0, -200%, 0);
        transform: translate3d(0, -200%, 0);
    }
}

@-o-keyframes fadeInUp {
    0% {
        opacity: 1;
        -webkit-transform: none;
        -moz-transform: none;
        -o-transform: none;
        -ms-transform: none;
        transform: none;
    }
    100% {
        opacity: 0;
        -webkit-transform: translate3d(0, -200%, 0);
        -moz-transform: translate3d(0, -200%, 0);
        -o-transform: translate3d(0, -200%, 0);
        -ms-transform: translate3d(0, -200%, 0);
        transform: translate3d(0, -200%, 0);
    }
}

@keyframes fadeInUp {
    0% {
        opacity: 1;
        -webkit-transform: none;
        -moz-transform: none;
        -o-transform: none;
        -ms-transform: none;
        transform: none;
    }
    100% {
        opacity: 0;
        -webkit-transform: translate3d(0, -200%, 0);
        -moz-transform: translate3d(0, -200%, 0);
        -o-transform: translate3d(0, -200%, 0);
        -ms-transform: translate3d(0, -200%, 0);
        transform: translate3d(0, -200%, 0);
    }
}

/* .calendar-panel.white .calendar-wrapper td .d {
    height: 20px !important;
    width: 32px;
    margin-bottom: 5px;
}

.calendar-panel.white .calendar-wrapper tr {
    height: auto !important;
}

.calendar-panel .calendar-wrapper .header {
    height: auto !important;
    text-align: center;
}

.calendar-panel.white,
.calendar-panel.white .calendar-wrapper {
    width: auto !important;
}

.calendar-panel.white {
    width: 532px !important;
}

.calendar-panel.white:after {
    left: 20px;
}

.calendar-panel.white-left:after {
    left: auto;
    right: 20px;
} */


dl.ylc-unit-ipt > dd .s_show_div .calendar-panel.white{
    /*top:30px !important;*/
    width:532px !important;
}
/*dl.ylc-unit-ipt > dd .s_show_div  .calendar-panel.white .calendar-wrapper{
    width:50% !important;
    background-color:#fff;
}*/
dl.ylc-unit-ipt > dd .s_show_div .calendar-panel .calendar-wrapper .calendar-container {
    position: relative;
    padding: 15px 10px 10px !important;
}
dl.ylc-unit-ipt > dd .s_show_div .calendar-panel .calendar-container table td {
    width:auto;
    height:31px;
    border: none;
}
dl.ylc-unit-ipt > dd .s_show_div .calendar-panel .calendar-wrapper .calendar-container table th {
    height: auto;
    color: #333;
    background: #fff;
    border: none;
}
dl.ylc-unit-ipt > dd .s_show_div .calendar-wrapper{
    margin-left:0;
    background-color: #fff;
    width: 266px !important;
}
dl.ylc-unit-ipt > dd .s_show_div  .calendar-panel .calendar-wrapper .header {
    border:none;
}
dl.ylc-unit-ipt > dd .s_show_div .calendar-panel .calendar-wrapper th.saturday, dl.ylc-unit-ipt > dd .s_show_div .calendar-panel .calendar-wrapper th.sunday {
    color: #f60 !important;
}
dl.ylc-unit-ipt > dd .s_show_div .calendar-panel.white:after {
    position: absolute;
    display: block;
    height: 0;
    width: 0;
    font-size: 0;
    line-height: 0;
    border-color: transparent transparent #fff;
    border-style: dashed dashed solid;
    border-width: 8px;
    z-index: 99999;
    background: 0;
    top: -16px;
    left: 47px;
    content: '';
    display:none;
}
dl.ylc-unit-ipt > dd .s_show_div .calendar-panel.white {
    font-size: 14px;
    box-shadow: -1px 3px 10px 1px  rgba(0,0,0,.2) !important;
}
dl.ylc-unit-ipt > dd .s_show_div .calendar-panel {
    background: #FFF;
    box-shadow: -2px 2px 5px #b6b6b6,2px 2px 5px #b6b6b6 !important;
    -ms-box-shadow: -2px 2px 5px #b6b6b6,2px 2px 5px #b6b6b6 !important;
    font: 12px/20px Arial,'Microsoft YaHei',sans-serif,SimSun;
    color: #666;
    -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(color=#b6b6b6,direction=90,strength=3) progid:DXImageTransform.Microsoft.Shadow(color=#b6b6b6,direction=180,strength=3) progid:DXImageTransform.Microsoft.Shadow(color=#b6b6b6,direction=270,strength=3)";
}

dl.ylc-unit-ipt > dd .s_show_div  .calendar-panel.white .previous-month,dl.ylc-unit-ipt > dd .s_show_div  .calendar-panel.white .next-month {
    background: url(http://js.40017.cn/cn/public/module/Calendar/0.3/calendar_arrow_white.png?v=2) 0 0 no-repeat;
    height: 30px;
    width: 30px;
    top: 10px;
}
dl.ylc-unit-ipt > dd .s_show_div .calendar-panel.white .previous-month {
    background-position: -8px 0;
}

dl.ylc-unit-ipt > dd .s_show_div .calendar-panel.white .next-month {
    background-position: -49px 0;
}

dl.ylc-unit-ipt > dd .s_show_div .calendar-panel.white .next-month:hover {
    background-position: -143px 0;
}

dl.ylc-unit-ipt > dd .s_show_div .calendar-panel.white .previous-month:hover {
    background-position: -100px 0;
}

dl.ylc-unit-ipt > dd .s_show_div .calendar-panel.white .previous-month-disabled,dl.ylc-unit-ipt > dd .s_show_div .calendar-panel.white .previous-month-disabled:hover {
    background-position: -100px -43px;
}

dl.ylc-unit-ipt > dd .s_show_div .calendar-panel.white .next-month-disabled,dl.ylc-unit-ipt > dd .s_show_div .calendar-panel.white .next-month-disabled:hover {
    background-position: -142px -43px;
}
