.contact-cards-section .section-bg img {
    width: 100%
}

.contact-cards .card {
    width: 100%;
    border-radius: 24px;
    background-color: #1a1b1d;
    color: #fff;
    padding: 20px
}

.contact-cards .card .h5,
.contact-cards .card h5 {
    color: inherit;
    margin-bottom: 16px
}

.contact-cards,
.contact-cards .card .links {
    display: flex;
    flex-wrap: wrap;
    gap: 12px
}

.contact-cards .card .links a {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 12px;
    padding: 16px 14px;
    border-radius: 12px;
    background: radial-gradient(165.6% 89.49% at 68.44% 31.45%, #fff0 0%, rgb(255 81 58 / .14) 100%), #f3f3f3;
    color: #1a1b1d;
    font-size: 12px;
    line-height: 1.45;
    font-weight: 600;
    transition: background-color .5s ease-in-out
}

.no-touch .contact-cards .card .links a:hover {
    background-color: #f04e23
}

.contact-cards .card .links .icon {
    width: 16px;
    height: 16px;
    display: flex;
    align-items: center;
    flex-shrink: 0
}

.contact-cards .card dl {
    margin: 0
}

.contact-cards .card dl dt {
    font-weight: 600;
    margin-bottom: 8px
}

.contact-cards .card dl dd {
    display: block;
    margin: 0 0 30px
}

.contact-cards .card dl dd:last-child {
    margin-bottom: 0
}

.contact-cards .card dl span {
    display: block
}

.contact-cards .card dl span+span {
    margin-top: 8px
}

.contact-cards .card dl a {
    opacity: .7
}

.no-touch .contact-cards .card dl a:hover {
    text-decoration: underline
}

@media (min-width:768px) {
    .contact-cards .card {
        width: calc(50% - 6px)
    }
}

@media (min-width:1024px) {
    .contact-cards {
        align-items: flex-start
    }

    .contact-cards .card {
        width: calc(25% - 9px)
    }
}

@media (min-width:1200px) {
    .contact-cards .card {
        padding: 24px
    }

    .contact-cards .card .h5,
    .contact-cards .card h5 {
        margin-bottom: 24px
    }

    .contact-cards .card .links a {
        font-size: 15px;
        padding: 24px 16px
    }
}

@media (min-width:1440px) {
    .contact-cards-section .section-bg {
        top: -170px
    }
}