.info-cards-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 12px
}

.info-cards-list.large .info-card {
    align-items: flex-start
}

.info-card {
    width: 100%;
    position: relative;
    border-radius: 32px;
    background-color: #f3f3f3;
    padding: 20px;
    font-size: 15px;
    line-height: 1.45;
    z-index: 30;
    text-align: center
}

.info-card .icon:after,
.info-card:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%
}

.info-card:before {
    background: radial-gradient(68.34% 84.3% at 50% 51.5%, rgb(255 81 58 / .14) 0%, #fff0 100%), #f3f3f3;
    opacity: 0;
    transition: opacity .5s ease-in-out;
    z-index: -1;
    pointer-events: none;
    border-radius: 32px
}

.info-card .icon {
    width: 88px;
    height: 88px;
    margin: 0 auto 15px;
    border-radius: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    flex-shrink: 0
}

.info-card .icon:before {
    content: "";
    position: absolute;
    left: 50%;
    top: -7px;
    transform: translateX(-50%);
    width: 72px;
    height: 72px;
    border-radius: 20px;
    background: #d9d9d9;
    z-index: 0
}

.info-card .icon:after {
    background: radial-gradient(50% 50% at 50% 50%, #532d28 0%, #414141 100%);
    border-radius: 24px
}

.info-card .icon img {
    max-width: 32px;
    max-height: 32px;
    position: relative;
    z-index: 2
}

.info-card .h6 a:before,
.info-card h6 a:before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%
}

.info-card p {
    margin-top: 9px
}

.no-touch .info-card:hover .h6 a:after,
.no-touch .info-card:hover h6 a:after,
.no-touch .info-card:hover:before {
    opacity: 1
}

@media (min-width:568px) {
    .info-card {
        display: flex;
        align-items: center;
        text-align: left;
        gap: 20px
    }

    .info-card .icon {
        margin: 0
    }
}

@media (min-width:768px) {

    .info-card,
    .info-cards-list.large .info-card {
        width: calc(50% - 6px)
    }
}

@media (min-width:1024px) {
    .info-card {
        width: calc(33.333% - 8px)
    }

    .info-card .h6 a:after,
    .info-card h6 a:after {
        content: "";
        position: absolute;
        width: 32px;
        height: 32px;
        bottom: 12px;
        right: 12px;
        background-position: 50% 50%;
        background-size: contain;
        background-repeat: no-repeat;
        background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMzIiIGhlaWdodD0iMzIiIHZpZXdCb3g9IjAgMCAzMiAzMiIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPHJlY3Qgd2lkdGg9IjMyIiBoZWlnaHQ9IjMyIiByeD0iMTYiIGZpbGw9IiMxQTFCMUQiLz4KPHBhdGggZD0iTTE0Ljg5NTMgMjFWMTcuMDk5M0gxMVYxNC44NzQySDE0Ljg5NTNWMTFIMTcuMTE4VjE0Ljg3NDJIMjFWMTcuMDk5M0gxNy4xMThWMjFIMTQuODk1M1oiIGZpbGw9IndoaXRlIi8+Cjwvc3ZnPgo=);
        pointer-events: none;
        opacity: 0;
        transition: opacity .5s ease-in-out
    }
}

@media (min-width:1200px) {
    .info-cards-list.large .info-card {
        padding: 32px
    }

    .info-card {
        padding: 24px;
        gap: 32px
    }
}