<!DOCTYPE html>
<html lang="zh">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta data-hid="description" name="description"
        content="pushplus(推送加) - 集成了微信、短信、邮件等实时信息推送平台。只需要调用简单的API，即可帮助你迅速完成消息的推送，使用简单方便">
    <meta name="Keywords" content="pushplus(推送加) - 集成了微信、短信、邮件等实时信息推送平台">
    <meta name="author" content="中道科技">
    <meta name="copyright" content="苏州破壳网络科技有限公司">
    <title>pushplus-(推送加)微信推送消息直达</title>
    <link rel="icon" type="image/x-icon" href="/favicon.ico" />
</head>

<body>
    <div id="layoutDefault">
        <div id="layoutDefault_content">
            <main>
                <nav class="navbar navbar-expand-lg navbar-dark">
                    <div class="container">
                        <a class="navbar-brand" href="#">
                            <img src="../../assets/image/push+.png" alt="psuh+" />
                        </a>
                        <button class="navbar-toggler" type="button" data-toggle="collapse"
                            data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                            aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button>
                        <div class="collapse navbar-collapse" id="navbarSupportedContent">
                            <ul class="navbar-nav ml-auto mr-lg-2">
                                <li class="nav-item">
                                    <a class="nav-link" href="#">首页</a>
                                </li>
                                <li class="nav-item active">
                                    <a class="nav-link" href="#">一对一推送</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#">一对多推送</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#">文档</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#">退出</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </nav>
            </main>
            <div class="container">
                <div class="card my-4">
                    <div class="card-header">
                        <h3>你的Token</h3>
                    </div>
                    <div class="card-body">
                        <div class="jumbotron bg-light py-3 px-3">
                            <div class="d-flex flex-row align-items-center flex-wrap">
                                <p class="my-1 mr-1 text-primary h4 text-wrap">02d42e4820894396aaa9d3803bd70c15</p>
                                <button type="button" class="btn btn-warning btn-sm text-white">更换token</button>
                            </div>
                            <div class="text-muted d-flex flex-row align-items-center flex-wrap">
                                <i class="bi bi-exclamation-triangle h4 mr-2"></i>
                                <p class="my-1 mr-1 h6">token很重要，请不要告诉别人!</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card my-4">
                    <div class="card-header">
                        <h3>调用方式</h3>
                    </div>
                    <div class="card-body">
                        <div class="jumbotron bg-light py-3 px-3">
                            <h4 class="text-primary">HTTP GET和DELETE请求</h4>
                            <h6 class="text-warning">
                                http://www.pushplus.plus/send?token=54661989c74f48d5b04787cd4ed5b39b&title=XXX&content=XXX&template=html
                            </h6>
                            <div class="table-responsive">
                                <table class="table table-bordered table-hover">
                                    <thead class="bg-secondary text-white">
                                        <tr>
                                            <th width="500"><p class='text-nowrap my-1'>参数</p></th>
                                            <th width="500"><p class='text-nowrap my-1'>是否必须</p></th>
                                            <th width="500"><p class='text-nowrap my-1'>参数类型</p></th>
                                            <th width="500"><p class='text-nowrap my-1'>数据类型</p></th>
                                            <th width="500"><p class='text-nowrap my-1'>描述</p></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>token</td>
                                            <td>是</td>
                                            <td>query</td>
                                            <td>string</td>
                                            <td>用户令牌，可直接加到请求地址后，如：http://www.pushplus.plus/send/{token}?content=XXX
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>title</td>
                                            <td>否</td>
                                            <td>query</td>
                                            <td>string</td>
                                            <td>消息标题</td>
                                        </tr>
                                        <tr>
                                            <td>content</td>
                                            <td>是</td>
                                            <td>query</td>
                                            <td>string</td>
                                            <td>具体消息内容，根据不同template支持不同格式</td>
                                        </tr>
                                        <tr>
                                            <td>template</td>
                                            <td>否</td>
                                            <td>query</td>
                                            <td>string</td>
                                            <td>发送消息模板</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="jumbotron bg-light py-3 px-3">
                            <h4 class="text-primary">HTTP POST和PUT请求</h4>
                            <h6 class="text-warning">http://www.pushplus.plus/send</h6>
                            <p class="text-danger">Content-Type: application/json</p>
                            <div class="table-responsive">
                                <table class="table table-bordered table-hover">
                                    <thead class="bg-secondary text-white">
                                        <tr>
                                            <th><p class='text-nowrap my-1'>参数</p></th>
                                            <th><p class='text-nowrap my-1'>是否必须</p></th>
                                            <th><p class='text-nowrap my-1'>参数类型</p></th>
                                            <th><p class='text-nowrap my-1'>数据类型</p></th>
                                            <th><p class='text-nowrap my-1'>描述</p></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>token</td>
                                            <td>是</td>
                                            <td>body</td>
                                            <td>string</td>
                                            <td>用户令牌</td>
                                        </tr>
                                        <tr>
                                            <td>title</td>
                                            <td>否</td>
                                            <td>body</td>
                                            <td>string</td>
                                            <td>消息标题</td>
                                        </tr>
                                        <tr>
                                            <td>content</td>
                                            <td>是</td>
                                            <td>body</td>
                                            <td>string</td>
                                            <td>具体消息内容，根据不同template支持不同格式</td>
                                        </tr>
                                        <tr>
                                            <td>template</td>
                                            <td>否</td>
                                            <td>body</td>
                                            <td>string</td>
                                            <td>发送消息模板</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="jumbotron bg-light py-3 px-3">
                            <h4 class="text-primary">template消息模板枚举</h4>
                            <div class="table-responsive">
                                <table class="table table-bordered table-hover">
                                    <thead class="bg-secondary text-white">
                                        <tr>
                                            <th><p class='text-nowrap my-1'>模板名称</p></th>
                                            <th><p class='text-nowrap my-1'>描述</p></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>html</td>
                                            <td>支持html文本。为空默认使用html模板</td>
                                        </tr>
                                        <tr>
                                            <td>json</td>
                                            <td>可视化展示json格式内容</td>
                                        </tr>
                                        <tr>
                                            <td>cloudMonitor</td>
                                            <td>阿里云监控报警定制模板</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card my-4">
                    <div class="card-header">
                        <h3>试一试</h3>
                    </div>
                    <div class="card-body">
                        <form>
                            <div class="form-group row">
                                <label for="inputTitle" class="col-sm-2 col-form-label">消息标题</label>
                                <div class="col-sm-10">
                                    <input id="inputTitle" type="text" name="title" autocomplete="off"
                                        placeholder="请输入标题" class="form-control" aria-describedby="titleHelp">
                                    <small id="titleHelp" class="form-text text-muted">注意事项注意事项注意事项注意事项</small>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="inputContent" class="col-sm-2 col-form-label">消息内容</label>
                                <div class="col-sm-10">
                                    <textarea id="inputContent" placeholder="请输入内容" name="content" class="form-control"
                                        rows="3" required></textarea>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="inputTemplat" class="col-sm-2 col-form-label">消息模板</label>
                                <div class="col-sm-10">
                                    <select id="inputTemplat" class="form-control" placeholder="请选择">
                                        <option>html</option>
                                        <option>json</option>
                                    </select>
                                </div>
                            </div>

                            <button type="submit" class="btn btn-primary">发送消息</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div id="layoutDefault_footer">
            <div class="container">
                <hr class="my-3" />
                <div class="row justify-content-center">
                    <div class="col-lg-8">
                        <p class="text-center mb-2">
                            <span>© 2019 - 2021 </span>
                            <span class="pr-3 pl-3"><a href="http://www.pushplus.plus"
                                    target="_blank">www.pushplus.plus</a></span>
                            <span>pushplus &nbsp; 推送加 &nbsp; 开放平台</span>
                        </p>
                        <p class="text-center mb-2">
                            <span>生命不息，开发不止</span>
                        </p>
                        <p class="text-center mb-5">
                            <a href="https://beian.miit.gov.cn/" target="_blank">苏ICP备2021004906号</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>